terraform-provider-jupiterone
dist/
*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
.vscode
*.iml
*.test
*.iml
log.txt

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
/.vs
node_modules

main.tf
variables.tf
terraform.txt

# temp file for generate schema (genqlient and scripts/get_current_schema.bash)
introspection_result.json
schema.json
schema.graphql

# Terrform lock files from testing
.terraform.lock.hcl
