---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateFramework ($input: CreateFrameworkInput!) {\n\tcreateFramework(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\towner\n\t}\n}\n","variables":{"input":{"title":"tf-provider-acc-test-req-framework","description":"framework for requirement testing","resourceGroupId":"","owner":"test-owner@jupiterone.com"}},"operationName":"CreateFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createFramework":{"id":"ccm_f_J1_a9c3a6b7-cf6e-4a9f-95f5-ff1b2183a166","name":"tf-provider-acc-test-req-framework","description":"framework for requirement testing","resourceGroupId":"","owner":"test-owner@jupiterone.com"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 3.518870834s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateRequirement ($input: CreateRequirementInput!) {\n\tcreateRequirement(input: $input) {\n\t\tid\n\t\ttitle\n\t\tdescription\n\t\tidentifier\n\t\tpriority\n\t\tsection\n\t}\n}\n","variables":{"input":{"title":"tf-provider-acc-test requirement","frameworkId":"ccm_f_J1_a9c3a6b7-cf6e-4a9f-95f5-ff1b2183a166","description":"acceptance test requirement","identifier":"REQ-001","priority":"HIGH","section":"Section A"}},"operationName":"CreateRequirement"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createRequirement":{"id":"ccm_r_604b2948-8ff1-4b24-8ab5-dab5a54ba1d0","title":"tf-provider-acc-test requirement","description":"acceptance test requirement","identifier":"REQ-001","priority":"HIGH","section":"Section A"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.080462042s
    - id: 2
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetRequirementById ($id: ID!) {\n\trequirement(id: $id) {\n\t\tid\n\t\ttitle\n\t\tframeworkIds\n\t\tdescription\n\t\tidentifier\n\t\tpriority\n\t\tsection\n\t}\n}\n","variables":{"id":"ccm_r_604b2948-8ff1-4b24-8ab5-dab5a54ba1d0"},"operationName":"GetRequirementById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"requirement":{"id":"ccm_r_604b2948-8ff1-4b24-8ab5-dab5a54ba1d0","title":"tf-provider-acc-test requirement","frameworkIds":["ccm_f_J1_a9c3a6b7-cf6e-4a9f-95f5-ff1b2183a166"],"description":"acceptance test requirement","identifier":"REQ-001","priority":"HIGH","section":"Section A"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 3.682105417s
    - id: 3
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetFrameworkById ($id: ID!) {\n\tcontrolFramework(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\towner\n\t\tsource\n\t}\n}\n","variables":{"id":"ccm_f_J1_a9c3a6b7-cf6e-4a9f-95f5-ff1b2183a166"},"operationName":"GetFrameworkById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"controlFramework":{"id":"ccm_f_J1_a9c3a6b7-cf6e-4a9f-95f5-ff1b2183a166","name":"tf-provider-acc-test-req-framework","description":"framework for requirement testing","resourceGroupId":"","owner":"test-owner@jupiterone.com","source":"J1"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 797.556375ms
[...]
    - id: 7
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation UpdateRequirement ($input: UpdateRequirementInput!) {\n\tupdateRequirement(input: $input) {\n\t\tid\n\t\ttitle\n\t\tdescription\n\t\tidentifier\n\t\tpriority\n\t\tsection\n\t}\n}\n","variables":{"input":{"id":"ccm_r_604b2948-8ff1-4b24-8ab5-dab5a54ba1d0","title":"tf-provider-acc-test updated requirement","description":"acceptance test requirement","identifier":"REQ-001","priority":"HIGH","section":"Section A"}},"operationName":"UpdateRequirement"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateRequirement":{"id":"ccm_r_604b2948-8ff1-4b24-8ab5-dab5a54ba1d0","title":"tf-provider-acc-test updated requirement","description":"acceptance test requirement","identifier":"REQ-001","priority":"HIGH","section":"Section A"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 4.23554225s
[...]
    - id: 11
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteRequirement ($input: DeleteRequirementInput!) {\n\tdeleteRequirement(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_r_604b2948-8ff1-4b24-8ab5-dab5a54ba1d0"}},"operationName":"DeleteRequirement"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteRequirement":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 961.634958ms
    - id: 12
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteFramework ($input: DeleteFrameworkInput!) {\n\tdeleteFramework(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_f_J1_a9c3a6b7-cf6e-4a9f-95f5-ff1b2183a166"}},"operationName":"DeleteFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteFramework":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 791.962667ms
    - id: 13
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetRequirementById ($id: ID!) {\n\trequirement(id: $id) {\n\t\tid\n\t\ttitle\n\t\tframeworkIds\n\t\tdescription\n\t\tidentifier\n\t\tpriority\n\t\tsection\n\t}\n}\n","variables":{"id":"ccm_r_604b2948-8ff1-4b24-8ab5-dab5a54ba1d0"},"operationName":"GetRequirementById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Requirement not found","path":["requirement"],"extensions":{"code":"NOT_FOUND","serviceName":"apps-service","exception":{"message":"Requirement not found"}}}],"data":{"requirement":null}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 963.081666ms
