---
version: 1
interactions:
- request:
    body: |
      {"query":"\n\t\tmutation CreateQuestion($question: CreateQuestionInput!) {\n\t\t\tcreateQuestion(question: $question) {\n\t\t\t\tid\n\t\t\t\ttitle\n\t\t\t\tdescription\n\t\t\t\tqueries {\n\t\t\t\t\tquery\n\t\t\t\t\tversion\n\t\t\t\t}\n\t\t\t\ttags\n\t\t\t\tvariables {\n\t\t\t\t\tname\n\t\t\t\t\trequired\n\t\t\t\t\tdefault\n\t\t\t\t}\n\t\t\t\tcompliance {\n\t\t\t\t\ttype\n\t\t\t\t\tdetails {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tdescription\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"question":{"title":"tf-acc-test-4644830010940672178","description":"Test","tags":["tf-acc-test-4644830010940672178"],"queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1","name":"query0"}],"compliance":null}}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"createQuestion":{"id":"b37c89bc-29a3-4fb6-bd9a-4ef8e3016d9c","title":"tf-acc-test-4644830010940672178","description":"Test","queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}],"tags":["tf-acc-test-4644830010940672178"],"variables":null,"compliance":null}}}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "371"
      X-Amzn-Requestid:
      - d287810b-1822-48c4-b927-005aaf784ec3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"query":"\n\t\tquery GetQuestionById ($id: ID!) {\n\t\t\tquestion(id: $id) {\n\t\t\t\tid\n\t\t\t\ttitle\n\t\t\t\tdescription\n\t\t\t\tqueries {\n\t\t\t\t\tquery\n\t\t\t\t\tversion\n\t\t\t\t}\n\t\t\t\ttags\n\t\t\t\tcompliance {\n\t\t\t\t\ttype\n\t\t\t\t\tdetails {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tdescription\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\taccountId\n\t\t\t\tintegrationDefinitionId\n\t\t\t}\n\t\t}\n\t","variables":{"id":"b37c89bc-29a3-4fb6-bd9a-4ef8e3016d9c"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"question":{"id":"b37c89bc-29a3-4fb6-bd9a-4ef8e3016d9c","title":"tf-acc-test-4644830010940672178","description":"Test","queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}],"tags":["tf-acc-test-4644830010940672178"],"compliance":null,"accountId":"j1dev","integrationDefinitionId":null}}}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "399"
      X-Amzn-Requestid:
      - 0562df70-f1f8-48a6-a650-55a980f79052
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"query":"\n\t\tmutation UpdateQuestion ($id: ID!, $update: QuestionUpdate!) {\n\t\t\tupdateQuestion(id: $id, update: $update) {\n\t\t\t\tid\n\t\t\t\ttitle\n\t\t\t\tdescription\n\t\t\t\tqueries {\n\t\t\t\t\tquery\n\t\t\t\t\tversion\n\t\t\t\t}\n\t\t\t\ttags\n\t\t\t\tvariables {\n\t\t\t\t\tname\n\t\t\t\t\trequired\n\t\t\t\t\tdefault\n\t\t\t\t}\n\t\t\t\tcompliance {\n\t\t\t\t\ttype\n\t\t\t\t\tdetails {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tdescription\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"id":"b37c89bc-29a3-4fb6-bd9a-4ef8e3016d9c","update":{"title":"tf-acc-test-4644830010940672178","description":"Test","tags":["tf-acc-test-4644830010940672178-1"],"queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1","name":"query0"}],"compliance":null}}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"updateQuestion":{"id":"b37c89bc-29a3-4fb6-bd9a-4ef8e3016d9c","title":"tf-acc-test-4644830010940672178","description":"Test","queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}],"tags":["tf-acc-test-4644830010940672178-1"],"variables":null,"compliance":null}}}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "373"
      X-Amzn-Requestid:
      - 576d4e19-15c5-4a91-ac48-482f18ca1b9f
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"query":"\n\t\tmutation DeleteQuestion($id: ID!) {\n\t\t\tdeleteQuestion(id: $id) {\n\t\t\t\tid\n\t\t\t}\n\t\t}\n\t","variables":{"id":"b37c89bc-29a3-4fb6-bd9a-4ef8e3016d9c"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"deleteQuestion":{"id":"b37c89bc-29a3-4fb6-bd9a-4ef8e3016d9c"}}}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "74"
      X-Amzn-Requestid:
      - aa26af56-d8df-4a4d-9fe1-d8e8b7e7248b
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"query":"\n\t\tquery GetQuestionById ($id: ID!) {\n\t\t\tquestion(id: $id) {\n\t\t\t\tid\n\t\t\t\ttitle\n\t\t\t\tdescription\n\t\t\t\tqueries {\n\t\t\t\t\tquery\n\t\t\t\t\tversion\n\t\t\t\t}\n\t\t\t\ttags\n\t\t\t\tcompliance {\n\t\t\t\t\ttype\n\t\t\t\t\tdetails {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tdescription\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\taccountId\n\t\t\t\tintegrationDefinitionId\n\t\t\t}\n\t\t}\n\t","variables":{"id":"b37c89bc-29a3-4fb6-bd9a-4ef8e3016d9c"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"errors":[{"code":"BAD_USER_INPUT","message":"Unable to fetch question. Reason: Cannot fetch question that does not exist","locations":[],"path":["question"]}],"data":null}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "174"
      X-Amzn-Requestid:
      - a9a73d78-0db1-4501-8b45-d1d2e3c004d9
    status: 200 OK
    code: 200
    duration: ""
