---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateUserGroup ($name: String!, $description: String, $queryPolicy: [JSON!], $abacPermissions: [String!]) {\n\tcreateIamGroup(name: $name, description: $description, queryPolicy: $queryPolicy, abacPermissions: $abacPermissions) {\n\t\tid\n\t}\n}\n","variables":{"name":"tf-provider-test-user-group","description":"Test user group for Terraform provider membership test","queryPolicy":null,"abacPermissions":[]},"operationName":"CreateUserGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createIamGroup":{"id":"dc117a09-ee0d-43b3-bb1e-774ce0928f97"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 450.859209ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation InviteUser ($email: String!, $groupId: String!) {\n\tinvite(input: {email:$email,groupId:$groupId}) {\n\t\tid\n\t}\n}\n","variables":{"email":"test.user@jupiterone.com","groupId":"dc117a09-ee0d-43b3-bb1e-774ce0928f97"},"operationName":"InviteUser"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"invite":{"id":"5d86a1b3-4acd-47b5-bfc2-a5bcaa5374cf"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 666.524ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetUserGroup ($id: String!) {\n\tiamGetGroup(group: $id) {\n\t\tid\n\t\tgroupName\n\t\tgroupDescription\n\t\tgroupQueryPolicy {\n\t\t\tstatement\n\t\t}\n\t\tgroupAbacPermission {\n\t\t\tstatement\n\t\t}\n\t}\n}\n","variables":{"id":"dc117a09-ee0d-43b3-bb1e-774ce0928f97"},"operationName":"GetUserGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"iamGetGroup":{"id":"dc117a09-ee0d-43b3-bb1e-774ce0928f97","groupName":"tf-provider-test-user-group","groupDescription":"Test user group for Terraform provider membership test","groupQueryPolicy":{"statement":[]},"groupAbacPermission":{"statement":[]}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 372.387ms
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetUsersByEmail ($email: String!) {\n\tiamGetUserList(emailFilter: $email, limit: 1000) {\n\t\titems {\n\t\t\tid\n\t\t\temail\n\t\t\tnickName\n\t\t\tfirstName\n\t\t\tlastName\n\t\t\tuserGroups(limit: 3000) {\n\t\t\t\titems {\n\t\t\t\t\tid\n\t\t\t\t}\n\t\t\t\tpageInfo {\n\t\t\t\t\tendCursor\n\t\t\t\t}\n\t\t\t}\n\t\t\t_timeCreated\n\t\t\t_timeUpdated\n\t\t}\n\t}\n}\n","variables":{"email":"test.user@jupiterone.com"},"operationName":"GetUsersByEmail"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"iamGetUserList":{"items":[{"id":"03c55cd7-f210-48fd-9e0f-96538ef49784","email":"test.user@jupiterone.com","nickName":"test.user","firstName":null,"lastName":null,"userGroups":{"items":[{"id":"dc117a09-ee0d-43b3-bb1e-774ce0928f97"}],"pageInfo":{"endCursor":null}},"_timeCreated":"1715954859648","_timeUpdated":"1715954859648"}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 261.110333ms
[...]
    - id: 5
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation RemoveUserFromGroup ($userId: String!, $groupId: ID!) {\n\tiamDeleteGroupUsers(input: {group:$groupId,users:[$userId]}) {\n\t\tsuccess\n\t}\n}\n","variables":{"userId":"test.user@jupiterone.com","groupId":"dc117a09-ee0d-43b3-bb1e-774ce0928f97"},"operationName":"RemoveUserFromGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"iamDeleteGroupUsers":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 252.496375ms
    - id: 6
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteUserGroup ($name: String!) {\n\tdeleteIamGroup(name: $name) {\n\t\tsuccess\n\t}\n}\n","variables":{"name":"tf-provider-test-user-group"},"operationName":"DeleteUserGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteIamGroup":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 366.907584ms
