---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateSmartClass ($input: CreateSmartClassInput!) {\n\tcreateSmartClass(input: $input) {\n\t\tid\n\t\ttagName\n\t\tdescription\n\t}\n}\n","variables":{"input":{"tagName":"TfProviderTagTest","description":"xyz"}},"operationName":"CreateSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createSmartClass":{"id":"b9f97b9b-13f3-47f4-9d5d-8e32abfdf9e7","tagName":"TfProviderTagTest","description":"xyz"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 988.278416ms
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateSmartClassTag ($input: CreateSmartClassTagInput!) {\n\tcreateSmartClassTag(input: $input) {\n\t\tid\n\t\tname\n\t\ttype\n\t\tvalue\n\t}\n}\n","variables":{"input":{"smartClassId":"b9f97b9b-13f3-47f4-9d5d-8e32abfdf9e7","name":"tagname","type":"boolean","value":"true"}},"operationName":"CreateSmartClassTag"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createSmartClassTag":{"id":"b7458939-c5ca-4a33-8d5b-749dd4665a95","name":"tagname","type":"boolean","value":"true"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 711.427875ms
    - id: 2
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetSmartClass ($smartClassId: ID!) {\n\tsmartClass(id: $smartClassId) {\n\t\tid\n\t\ttagName\n\t\tdescription\n\t\ttags {\n\t\t\tid\n\t\t\tname\n\t\t\ttype\n\t\t\tvalue\n\t\t}\n\t}\n}\n","variables":{"smartClassId":"b9f97b9b-13f3-47f4-9d5d-8e32abfdf9e7"},"operationName":"GetSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"smartClass":{"id":"b9f97b9b-13f3-47f4-9d5d-8e32abfdf9e7","tagName":"TfProviderTagTest","description":"xyz","tags":[{"id":"b7458939-c5ca-4a33-8d5b-749dd4665a95","name":"tagname","type":"boolean","value":"true"}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 360.229667ms
[...]
    - id: 4
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteSmartClassTag ($smartClassTagId: ID!) {\n\tdeleteSmartClassTag(id: $smartClassTagId) {\n\t\tsuccess\n\t}\n}\n","variables":{"smartClassTagId":"b7458939-c5ca-4a33-8d5b-749dd4665a95"},"operationName":"DeleteSmartClassTag"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteSmartClassTag":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.356674708s
    - id: 5
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteSmartClass ($smartClassId: ID!) {\n\tdeleteSmartClass(id: $smartClassId) {\n\t\tsuccess\n\t}\n}\n","variables":{"smartClassId":"b9f97b9b-13f3-47f4-9d5d-8e32abfdf9e7"},"operationName":"DeleteSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteSmartClass":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 696.425417ms
