---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceFramework ($framework: CreateComplianceFrameworkInput!) {\n\tcreateComplianceFramework(input: $framework) {\n\t\tid\n\t}\n}\n","variables":{"framework":{"name":"tf-provider-acc-test-framework","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[]}},"operationName":"CreateComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceFramework":{"id":"bc28ea72-4da6-46bf-981b-e49f574391b0"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 811.555ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceGroup ($input: CreateComplianceGroupInput!) {\n\tcreateComplianceGroup(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc test Group","description":"","displayCategory":"","frameworkId":"bc28ea72-4da6-46bf-981b-e49f574391b0","webLink":""}},"operationName":"CreateComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceGroup":{"id":"5d1e6712-30e0-4856-9b2e-075b207b0acf"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 628.132666ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceFrameworkById ($frameworkId: ID!) {\n\tcomplianceFramework(input: {id:$frameworkId}) {\n\t\tid\n\t\tname\n\t\tversion\n\t\tframeworkType\n\t\twebLink\n\t\tscopeFilters\n\t\tsummaryConfig {\n\t\t\tshowPoliciesAndProcedures\n\t\t\tshowEvidence\n\t\t\tshowGapAnalysis\n\t\t\tshowAuditTracking\n\t\t}\n\t}\n}\n","variables":{"frameworkId":"bc28ea72-4da6-46bf-981b-e49f574391b0"},"operationName":"GetComplianceFrameworkById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFramework":{"id":"bc28ea72-4da6-46bf-981b-e49f574391b0","name":"tf-provider-acc-test-framework","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[],"summaryConfig":{"showPoliciesAndProcedures":true,"showEvidence":true,"showGapAnalysis":true,"showAuditTracking":false}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 444.997583ms
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceGroups ($frameworkId: ID!) {\n\tcomplianceFramework(input: {id:$frameworkId}) {\n\t\tgroups {\n\t\t\tid\n\t\t\tframeworkId\n\t\t\tname\n\t\t\tdescription\n\t\t\tdisplayCategory\n\t\t\twebLink\n\t\t}\n\t}\n}\n","variables":{"frameworkId":"bc28ea72-4da6-46bf-981b-e49f574391b0"},"operationName":"GetComplianceGroups"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFramework":{"groups":[{"id":"5d1e6712-30e0-4856-9b2e-075b207b0acf","frameworkId":"bc28ea72-4da6-46bf-981b-e49f574391b0","name":"tf-provider-acc test Group","description":"","displayCategory":"","webLink":null}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 550.378291ms
[...]
    - id: 6
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateComplianceGroup ($input: UpdateComplianceGroupInput!) {\n\tupdateComplianceGroup(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"id":"5d1e6712-30e0-4856-9b2e-075b207b0acf","updates":{"name":"tf-provider-acc test Group","description":"tf-provider acceptance test group","displayCategory":"first","frameworkId":"bc28ea72-4da6-46bf-981b-e49f574391b0","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints"}}},"operationName":"UpdateComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateComplianceGroup":{"id":"5d1e6712-30e0-4856-9b2e-075b207b0acf"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 656.276459ms
[...]
    - id: 19
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceGroup ($id: ID!) {\n\tdeleteComplianceGroup(input: {id:$id})\n}\n","variables":{"id":"5d1e6712-30e0-4856-9b2e-075b207b0acf"},"operationName":"DeleteComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceGroup":"5d1e6712-30e0-4856-9b2e-075b207b0acf"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 357.2235ms
    - id: 20
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceFramework ($input: DeleteComplianceFrameworkInput!) {\n\tdeleteComplianceFramework(input: $input)\n}\n","variables":{"input":{"id":"bc28ea72-4da6-46bf-981b-e49f574391b0"}},"operationName":"DeleteComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceFramework":"bc28ea72-4da6-46bf-981b-e49f574391b0"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 740.34975ms
