---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateControl ($input: CreateControlInput!) {\n\tcreateControl(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc-test-control","description":"acceptance test control","requirementIds":null,"state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":""}},"operationName":"CreateControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createControl":{"id":"ccm_c_J1_b96e8022-5760-4337-91c3-03248fe4b415","name":"tf-provider-acc-test-control","description":"acceptance test control","resourceGroupId":null,"state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":""}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.278576792s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlById ($id: ID!) {\n\tcontrol(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tframeworkIds\n\t}\n}\n","variables":{"id":"ccm_c_J1_b96e8022-5760-4337-91c3-03248fe4b415"},"operationName":"GetControlById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"control":{"id":"ccm_c_J1_b96e8022-5760-4337-91c3-03248fe4b415","name":"tf-provider-acc-test-control","description":"acceptance test control","resourceGroupId":null,"state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","frameworkIds":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.235479375s
[...]
    - id: 4
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation UpdateControl ($input: UpdateControlInput!) {\n\tupdateControl(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t}\n}\n","variables":{"input":{"id":"ccm_c_J1_b96e8022-5760-4337-91c3-03248fe4b415","name":"tf-provider-acc-test updated control","description":"acceptance test control","requirementIds":{"set":null,"add":null,"remove":null},"identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":""}},"operationName":"UpdateControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateControl":{"id":"ccm_c_J1_b96e8022-5760-4337-91c3-03248fe4b415","name":"tf-provider-acc-test updated control","description":"acceptance test control","resourceGroupId":null,"state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":""}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 7.228950584s
[...]
    - id: 7
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteControl ($input: DeleteControlInput!) {\n\tdeleteControl(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_c_J1_b96e8022-5760-4337-91c3-03248fe4b415"}},"operationName":"DeleteControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteControl":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.291495708s
    - id: 8
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlById ($id: ID!) {\n\tcontrol(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tframeworkIds\n\t}\n}\n","variables":{"id":"ccm_c_J1_b96e8022-5760-4337-91c3-03248fe4b415"},"operationName":"GetControlById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Control not found","path":["control"],"extensions":{"code":"NOT_FOUND","serviceName":"apps-service","exception":{"message":"Control not found"}}}],"data":null}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 750.221042ms
