---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateDashboard ($input: CreateInsightsDashboardInput!) {\n\tcreateDashboard(input: $input) {\n\t\tname\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-test-dashboard","type":"Account","userIds":null,"groupIds":null,"widgets":null,"published":false,"publishedToUserIds":null,"publishedToGroupIds":null,"ttd":0}},"operationName":"CreateDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createDashboard":{"name":"tf-provider-test-dashboard","id":"1fb22b67-01c8-482e-ab80-3cfbb7452213"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.032204583s
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateWidget ($dashboardId: String!, $input: CreateInsightsWidgetInput!) {\n\tcreateWidget(dashboardId: $dashboardId, input: $input) {\n\t\tid\n\t\twidgetId\n\t\ttitle\n\t\tdescription\n\t\ttype\n\t\tquestionId\n\t\tnoResultMessage\n\t\tincludeDeleted\n\t}\n}\n","variables":{"dashboardId":"1fb22b67-01c8-482e-ab80-3cfbb7452213","input":{"id":"","title":"tf-provider-test-widget","description":"This is a test widget","type":"number","questionId":"","noResultMessage":"","includeDeleted":false,"config":{"queries":[{"id":"","name":"Query1","query":"FIND *"}],"settings":{}}}},"operationName":"CreateWidget"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createWidget":{"id":"8834eee2-924d-4530-82c1-7722b7dd532b","widgetId":"8834eee2-924d-4530-82c1-7722b7dd532b","title":"tf-provider-test-widget","description":"This is a test widget","type":"number","questionId":null,"noResultMessage":"","includeDeleted":false}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 805.59725ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetDashboard ($dashboardId: String!) {\n\tgetDashboard(dashboardId: $dashboardId) {\n\t\tid\n\t\tname\n\t}\n}\n","variables":{"dashboardId":"1fb22b67-01c8-482e-ab80-3cfbb7452213"},"operationName":"GetDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"getDashboard":{"id":"1fb22b67-01c8-482e-ab80-3cfbb7452213","name":"tf-provider-test-dashboard"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 596.892958ms
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetWidget ($boardId: String!, $boardType: String!, $widgetId: String!) {\n\tgetWidget(boardId: $boardId, boardType: $boardType, widgetId: $widgetId) {\n\t\twidget\n\t}\n}\n","variables":{"boardId":"1fb22b67-01c8-482e-ab80-3cfbb7452213","boardType":"Account","widgetId":"8834eee2-924d-4530-82c1-7722b7dd532b"},"operationName":"GetWidget"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"getWidget":{"widget":{"config":{"queries":[{"name":"Query1","query":"FIND *"}],"settings":{}},"description":"This is a test widget","id":"8834eee2-924d-4530-82c1-7722b7dd532b","includeDeleted":false,"noResultMessage":"","title":"tf-provider-test-widget","type":"number"}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 543.144ms
    - id: 4
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteWidget ($dashboardId: String!, $widgetId: String!) {\n\tdeleteWidget(dashboardId: $dashboardId, widgetId: $widgetId) {\n\t\tsuccess\n\t}\n}\n","variables":{"dashboardId":"1fb22b67-01c8-482e-ab80-3cfbb7452213","widgetId":"8834eee2-924d-4530-82c1-7722b7dd532b"},"operationName":"DeleteWidget"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteWidget":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 684.806125ms
    - id: 5
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteDashboard ($dashboardId: String!) {\n\tdeleteDashboard(dashboardId: $dashboardId) {\n\t\tsuccess\n\t}\n}\n","variables":{"dashboardId":"1fb22b67-01c8-482e-ab80-3cfbb7452213"},"operationName":"DeleteDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteDashboard":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 591.987208ms
