---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateSmartClass ($input: CreateSmartClassInput!) {\n\tcreateSmartClass(input: $input) {\n\t\tid\n\t\ttagName\n\t\tdescription\n\t}\n}\n","variables":{"input":{"tagName":"TfProviderTestImport","description":"description of TfProviderTestImport"}},"operationName":"CreateSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createSmartClass":{"id":"3f40b190-bbfc-477a-bf41-a9e8900437b2","tagName":"TfProviderTestImport","description":"description of TfProviderTestImport"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.049610292s
