---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateControl ($input: CreateControlInput!) {\n\tcreateControl(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tmitreTechnique\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc-test-control-mitre","description":"acceptance test control with a MITRE technique","state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":"T1078"}},"operationName":"CreateControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createControl":{"id":"ccm_c_J1_ec351bec-9389-463a-8e20-21094e709d32","name":"tf-provider-acc-test-control-mitre","description":"acceptance test control with a MITRE technique","resourceGroupId":null,"state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":"T1078"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.672896708s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlById ($id: ID!) {\n\tcontrol(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tmitreTechnique\n\t\tframeworkIds\n\t}\n}\n","variables":{"id":"ccm_c_J1_ec351bec-9389-463a-8e20-21094e709d32"},"operationName":"GetControlById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"control":{"id":"ccm_c_J1_ec351bec-9389-463a-8e20-21094e709d32","name":"tf-provider-acc-test-control-mitre","description":"acceptance test control with a MITRE technique","resourceGroupId":null,"state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":"T1078","frameworkIds":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.410204875s
[...]
    - id: 4
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation UpdateControl ($input: UpdateControlInput!) {\n\tupdateControl(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tmitreTechnique\n\t}\n}\n","variables":{"input":{"id":"ccm_c_J1_ec351bec-9389-463a-8e20-21094e709d32","name":"tf-provider-acc-test-control-mitre","description":"acceptance test control with a MITRE technique","requirementIds":{"set":[],"add":null,"remove":null},"identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":"T1059.001"}},"operationName":"UpdateControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateControl":{"id":"ccm_c_J1_ec351bec-9389-463a-8e20-21094e709d32","name":"tf-provider-acc-test-control-mitre","description":"acceptance test control with a MITRE technique","resourceGroupId":null,"state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":"T1059.001"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 4.913672041s
[...]
    - id: 11
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteControl ($input: DeleteControlInput!) {\n\tdeleteControl(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_c_J1_ec351bec-9389-463a-8e20-21094e709d32"}},"operationName":"DeleteControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteControl":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 2.090095209s
    - id: 12
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlById ($id: ID!) {\n\tcontrol(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tmitreTechnique\n\t\tframeworkIds\n\t}\n}\n","variables":{"id":"ccm_c_J1_ec351bec-9389-463a-8e20-21094e709d32"},"operationName":"GetControlById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Control not found","path":["control"],"extensions":{"code":"NOT_FOUND","serviceName":"apps-service","exception":{"message":"Control not found"}}}],"data":null}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.000004958s
