---
version: 1
interactions:
- request:
    body: |
      {"query":"\n\t\tmutation CreateQuestion($question: CreateQuestionInput!) {\n\t\t\tcreateQuestion(question: $question) {\n\t\t\t\tid\n\t\t\t\ttitle\n\t\t\t\tdescription\n\t\t\t\tqueries {\n\t\t\t\t\tquery\n\t\t\t\t\tversion\n\t\t\t\t}\n\t\t\t\ttags\n\t\t\t\tvariables {\n\t\t\t\t\tname\n\t\t\t\t\trequired\n\t\t\t\t\tdefault\n\t\t\t\t}\n\t\t\t\tcompliance {\n\t\t\t\t\ttype\n\t\t\t\t\tdetails {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tdescription\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"question":{"title":"tf-test-question","description":"Test","tags":["testing-tag-1"],"queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1","name":"query0"}],"compliance":null}}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"createQuestion":{"id":"0fdf27e3-e708-4fa5-a4f2-d727e105efb2","title":"tf-test-question","description":"Test","queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}],"tags":["testing-tag-1"],"variables":null,"compliance":null}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"query":"\n\t\tquery GetQuestionById ($id: ID!) {\n\t\t\tquestion(id: $id) {\n\t\t\t\tid\n\t\t\t\ttitle\n\t\t\t\tdescription\n\t\t\t\tqueries {\n\t\t\t\t\tname\n\t\t\t\t\tquery\n\t\t\t\t\tversion\n\t\t\t\t}\n\t\t\t\ttags\n\t\t\t\tcompliance {\n\t\t\t\t\ttype\n\t\t\t\t\tdetails {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tdescription\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\taccountId\n\t\t\t\tintegrationDefinitionId\n\t\t\t}\n\t\t}\n\t","variables":{"id":"0fdf27e3-e708-4fa5-a4f2-d727e105efb2"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"question":{"id":"0fdf27e3-e708-4fa5-a4f2-d727e105efb2","title":"tf-test-question","description":"Test","queries":[{"name":"query0","query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}],"tags":["testing-tag-1"],"compliance":null,"accountId":"1316127e-baf6-4c4a-bc01-4fbe9ddd3415","integrationDefinitionId":null}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"query":"\n\t\tmutation UpdateQuestion ($id: ID!, $update: QuestionUpdate!) {\n\t\t\tupdateQuestion(id: $id, update: $update) {\n\t\t\t\tid\n\t\t\t\ttitle\n\t\t\t\tdescription\n\t\t\t\tqueries {\n\t\t\t\t\tquery\n\t\t\t\t\tversion\n\t\t\t\t}\n\t\t\t\ttags\n\t\t\t\tvariables {\n\t\t\t\t\tname\n\t\t\t\t\trequired\n\t\t\t\t\tdefault\n\t\t\t\t}\n\t\t\t\tcompliance {\n\t\t\t\t\ttype\n\t\t\t\t\tdetails {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tdescription\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"id":"0fdf27e3-e708-4fa5-a4f2-d727e105efb2","update":{"title":"tf-test-question","description":"Test","tags":["testing-tag-2"],"queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1","name":"query0"}],"compliance":null}}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"updateQuestion":{"id":"0fdf27e3-e708-4fa5-a4f2-d727e105efb2","title":"tf-test-question","description":"Test","queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}],"tags":["testing-tag-2"],"variables":null,"compliance":null}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"query":"\n\t\tmutation DeleteQuestion($id: ID!) {\n\t\t\tdeleteQuestion(id: $id) {\n\t\t\t\tid\n\t\t\t}\n\t\t}\n\t","variables":{"id":"0fdf27e3-e708-4fa5-a4f2-d727e105efb2"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"deleteQuestion":{"id":"0fdf27e3-e708-4fa5-a4f2-d727e105efb2"}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"query":"\n\t\tquery GetQuestionById ($id: ID!) {\n\t\t\tquestion(id: $id) {\n\t\t\t\tid\n\t\t\t\ttitle\n\t\t\t\tdescription\n\t\t\t\tqueries {\n\t\t\t\t\tname\n\t\t\t\t\tquery\n\t\t\t\t\tversion\n\t\t\t\t}\n\t\t\t\ttags\n\t\t\t\tcompliance {\n\t\t\t\t\ttype\n\t\t\t\t\tdetails {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tdescription\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\taccountId\n\t\t\t\tintegrationDefinitionId\n\t\t\t}\n\t\t}\n\t","variables":{"id":"0fdf27e3-e708-4fa5-a4f2-d727e105efb2"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"errors":[{"message":"Unable to fetch question. Reason: Cannot fetch question that does not exist","extensions":{"code":"BAD_USER_INPUT","serviceName":"questions","exception":{"stacktrace":["UserInputError: Unable to fetch question. Reason: Cannot fetch question that does not exist","    at getQuestion2 (/var/task/index.js:808028:11)","    at runMicrotasks (<anonymous>)","    at processTicksAndRejections (internal/process/task_queues.js:95:5)","    at async Promise.all (index 0)"],"message":"Unable to fetch question. Reason: Cannot fetch question that does not exist","locations":[],"path":["question"]}}}],"data":null}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
