---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateDashboard ($input: CreateInsightsDashboardInput!) {\n\tcreateDashboard(input: $input) {\n\t\tname\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-test-dashboard","type":"Account","userIds":null,"groupIds":null,"widgets":null,"published":false,"publishedToUserIds":null,"publishedToGroupIds":null,"ttd":0,"resourceGroupId":"rg-123456"}},"operationName":"CreateDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createDashboard":{"name":"tf-provider-test-dashboard","id":"bed628b8-6c68-4f0d-9f6d-b8bbb4580ef3"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 714.17575ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetDashboard ($dashboardId: String!) {\n\tgetDashboard(dashboardId: $dashboardId) {\n\t\tid\n\t\tname\n\t\tresourceGroupId\n\t}\n}\n","variables":{"dashboardId":"bed628b8-6c68-4f0d-9f6d-b8bbb4580ef3"},"operationName":"GetDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"getDashboard":{"id":"bed628b8-6c68-4f0d-9f6d-b8bbb4580ef3","name":"tf-provider-test-dashboard","resourceGroupId":"rg-123456"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 408.778792ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteDashboard ($dashboardId: String!) {\n\tdeleteDashboard(dashboardId: $dashboardId) {\n\t\tsuccess\n\t}\n}\n","variables":{"dashboardId":"bed628b8-6c68-4f0d-9f6d-b8bbb4580ef3"},"operationName":"DeleteDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteDashboard":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 455.243375ms
