---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateCollector ($name: String!) {\n\tcreateCollector(input: {name:$name}) {\n\t\tcollector {\n\t\t\tid\n\t\t\taccountId\n\t\t\tname\n\t\t\tcreatedAt\n\t\t\tupdatedAt\n\t\t\tcollectorPoolId\n\t\t\tstate\n\t\t\tintegrationInstanceCount\n\t\t\tlastHeartbeatAt\n\t\t}\n\t\tauthToken\n\t}\n}\n","variables":{"name":"tf-acc-collector"},"operationName":"CreateCollector"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createCollector":{"collector":{"id":"460b7900-6fba-480b-8dc2-68f2874c76f2","accountId":"j1","name":"tf-acc-collector","createdAt":1759173479247,"updatedAt":1759173479247,"collectorPoolId":"2992112a-3a58-4889-a10b-2ae27b94bff7","state":"not_registered","integrationInstanceCount":0,"lastHeartbeatAt":null},"authToken":"937107a250dc9a91562e9d111a779d7204918b37823921fab331373539313733343833333638"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 4.695383542s
[...]
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateCollector ($id: String!, $name: String!) {\n\tupdateCollector(input: {id:$id,name:$name}) {\n\t\tid\n\t\taccountId\n\t\tname\n\t\tcreatedAt\n\t\tupdatedAt\n\t\tcollectorPoolId\n\t\tstate\n\t\tintegrationInstanceCount\n\t\tlastHeartbeatAt\n\t}\n}\n","variables":{"id":"460b7900-6fba-480b-8dc2-68f2874c76f2","name":"tf-acc-collector-upd"},"operationName":"UpdateCollector"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateCollector":{"id":"460b7900-6fba-480b-8dc2-68f2874c76f2","accountId":"j1","name":"tf-acc-collector-upd","createdAt":1759173479247,"updatedAt":1759173484952,"collectorPoolId":"2992112a-3a58-4889-a10b-2ae27b94bff7","state":"not_registered","integrationInstanceCount":0,"lastHeartbeatAt":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 211.159792ms
[...]
    - id: 5
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteCollector ($id: String!) {\n\tdeleteCollector(input: {id:$id}) {\n\t\tsuccess\n\t}\n}\n","variables":{"id":"460b7900-6fba-480b-8dc2-68f2874c76f2"},"operationName":"DeleteCollector"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteCollector":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 259.235583ms
