---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateFramework ($input: CreateFrameworkInput!) {\n\tcreateFramework(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\towner\n\t}\n}\n","variables":{"input":{"title":"tf-provider-acc-test-framework-datasource","description":"acceptance test framework for data sources","resourceGroupId":"","owner":"test-owner@jupiterone.com"}},"operationName":"CreateFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createFramework":{"id":"ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9","name":"tf-provider-acc-test-framework-datasource","description":"acceptance test framework for data sources","resourceGroupId":"","owner":"test-owner@jupiterone.com"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.4721495s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateRequirement ($input: CreateRequirementInput!) {\n\tcreateRequirement(input: $input) {\n\t\tid\n\t\ttitle\n\t\tdescription\n\t\tidentifier\n\t\tpriority\n\t\tsection\n\t}\n}\n","variables":{"input":{"title":"tf-provider-acc-test-requirement-datasource","frameworkId":"ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9","description":"acceptance test requirement for data sources","priority":"HIGH","section":"1"}},"operationName":"CreateRequirement"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createRequirement":{"id":"ccm_r_c26b8c8b-9e6e-4451-87d0-5508a9b34569","title":"tf-provider-acc-test-requirement-datasource","description":"acceptance test requirement for data sources","identifier":null,"priority":"HIGH","section":"1"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.487833833s
    - id: 2
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateControl ($input: CreateControlInput!) {\n\tcreateControl(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tmitreTechnique\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc-test-control-datasource","description":"acceptance test control for data sources","requirementIds":["ccm_r_c26b8c8b-9e6e-4451-87d0-5508a9b34569"],"state":"LIVE","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":"T1078"}},"operationName":"CreateControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createControl":{"id":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","name":"tf-provider-acc-test-control-datasource","description":"acceptance test control for data sources","resourceGroupId":null,"state":"LIVE","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":"T1078"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 5.831183625s
    - id: 3
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateControlTest ($input: CreateControlTestInput!) {\n\tcreateControlTest(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tcontrolId\n\t\tqueries {\n\t\t\tname\n\t\t\tquery\n\t\t\tresultsAre\n\t\t}\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc-test-control-test-datasource","controlId":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","queries":[{"name":"users without mfa","query":"FIND User WITH mfaEnabled = false","resultsAre":"BAD","description":""}]}},"operationName":"CreateControlTest"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createControlTest":{"id":"18adb15b-9e8e-4dcb-8933-036f788e157a","name":"tf-provider-acc-test-control-test-datasource","description":null,"controlId":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","queries":[{"name":"users without mfa","query":"FIND User WITH mfaEnabled = false","resultsAre":"BAD"}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 3.37417425s
    - id: 4
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateAttestation ($input: CreateAttestationInput!) {\n\tcreateAttestation(input: $input) {\n\t\tid\n\t\tsubject\n\t\tdescription\n\t\texpiresOn\n\t\towner\n\t\tauthor\n\t\tdocumentLink\n\t\trevoked\n\t\tcreatedOn\n\t\tcontrolId\n\t\tstate\n\t}\n}\n","variables":{"input":{"controlId":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","subject":"data source acceptance attestation","expiresOn":1896048000000,"owner":"test-owner@jupiterone.com"}},"operationName":"CreateAttestation"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createAttestation":{"id":"e3881b3a-72aa-4870-9ee5-20e9df78a7af","subject":"data source acceptance attestation","description":null,"expiresOn":1896048000000,"owner":"test-owner@jupiterone.com","author":"james.mountifield@jupiterone.com","documentLink":null,"revoked":false,"createdOn":null,"controlId":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","state":"ACTIVE"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 4.137760083s
    - id: 5
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlDetail ($id: ID, $sourceId: String) {\n\tcontrol(id: $id, sourceId: $sourceId) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tsource\n\t\tsourceId\n\t\tresourceGroupId\n\t\tstatus\n\t\tlastEvaluatedOn\n\t\tconfigured\n\t\tframeworkIds\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tmitreTechnique\n\t\tcreatedOn\n\t\tnumberOfTests\n\t\teffectiveStatus\n\t\thasValidAttestation\n\t}\n}\n","variables":{"id":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","sourceId":""},"operationName":"GetControlDetail"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"control":{"id":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","name":"tf-provider-acc-test-control-datasource","description":"acceptance test control for data sources","source":"J1","sourceId":"01c140dc-73db-4ca2-aa3d-098221968533","resourceGroupId":null,"status":"PASS","lastEvaluatedOn":"2026-08-19T13:13:01.889Z","configured":true,"frameworkIds":["ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9"],"state":"LIVE","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":"T1078","createdOn":"2026-08-19T13:12:44.491Z","numberOfTests":1,"effectiveStatus":"EFFECTIVE","hasValidAttestation":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.365291542s
    - id: 6
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery ListControls ($input: ControlsQueryInput) {\n\tcontrols(input: $input) {\n\t\titems {\n\t\t\tid\n\t\t\tname\n\t\t\tdescription\n\t\t\tsource\n\t\t\tsourceId\n\t\t\tresourceGroupId\n\t\t\tstatus\n\t\t\tlastEvaluatedOn\n\t\t\tconfigured\n\t\t\tframeworkIds\n\t\t\tstate\n\t\t\tidentifier\n\t\t\tcatalog\n\t\t\towner\n\t\t\tremediation\n\t\t\texceptionProcess\n\t\t\tmitreTechnique\n\t\t\tcreatedOn\n\t\t\tnumberOfTests\n\t\t\teffectiveStatus\n\t\t\thasValidAttestation\n\t\t}\n\t\tpageInfo {\n\t\t\thasNextPage\n\t\t\tendCursor\n\t\t}\n\t}\n}\n","variables":{"input":{"filter":{"frameworkId":["ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9"]}}},"operationName":"ListControls"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"controls":{"items":[{"id":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","name":"tf-provider-acc-test-control-datasource","description":"acceptance test control for data sources","source":"J1","sourceId":"01c140dc-73db-4ca2-aa3d-098221968533","resourceGroupId":null,"status":"PASS","lastEvaluatedOn":"2026-08-19T13:13:01.889Z","configured":true,"frameworkIds":["ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9"],"state":"LIVE","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":"T1078","createdOn":"2026-08-19T13:12:44.491Z","numberOfTests":1,"effectiveStatus":"EFFECTIVE","hasValidAttestation":true}],"pageInfo":{"hasNextPage":false,"endCursor":null}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.848705375s
    - id: 7
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery ListControlTests ($input: ControlTestsInput) {\n\tcontrolTests(input: $input) {\n\t\titems {\n\t\t\tid\n\t\t\tname\n\t\t\tdescription\n\t\t\tcontrolId\n\t\t\tresourceGroupId\n\t\t\tstatus\n\t\t\tlastEvaluatedOn\n\t\t\treferencedRuleId\n\t\t\tqueries {\n\t\t\t\tname\n\t\t\t\tquery\n\t\t\t\tresultsAre\n\t\t\t\trecordCount\n\t\t\t\tstatus\n\t\t\t\teffective\n\t\t\t}\n\t\t}\n\t\tpageInfo {\n\t\t\thasNextPage\n\t\t\tendCursor\n\t\t}\n\t}\n}\n","variables":{"input":{"filters":{"controlId":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533"},"pagination":{}}},"operationName":"ListControlTests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"controlTests":{"items":[{"id":"18adb15b-9e8e-4dcb-8933-036f788e157a","name":"tf-provider-acc-test-control-test-datasource","description":null,"controlId":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","resourceGroupId":null,"status":null,"lastEvaluatedOn":null,"referencedRuleId":"18adb15b-9e8e-4dcb-8933-036f788e157a","queries":[{"name":"users without mfa","query":"FIND User WITH mfaEnabled = false","resultsAre":"BAD","recordCount":null,"status":null,"effective":true}]}],"pageInfo":{"hasNextPage":false,"endCursor":null}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.376104083s
    - id: 8
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlFrameworkStats ($input: ControlFrameworkStatsInput) {\n\tcontrolFrameworkStats(input: $input) {\n\t\tid\n\t\tnumberOfControls\n\t\tnumberOfFailingControls\n\t\tnumberOfPassingControls\n\t\tnumberOfAttestedControls\n\t\tnumberOfRequirements\n\t\tnumberOfControlsWithTests\n\t\tnumberOfPassingRequirements\n\t\tnumberOfFailingRequirements\n\t\tnumberOfFailingCriticalRequirements\n\t\tsectionStats {\n\t\t\tsectionName\n\t\t\tnumberOfRequirements\n\t\t\tnumberOfPassingRequirements\n\t\t\tnumberOfFailingRequirements\n\t\t}\n\t}\n}\n","variables":{"input":{"frameworkIds":["ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9"]}},"operationName":"GetControlFrameworkStats"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"controlFrameworkStats":[{"id":"ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9","numberOfControls":1,"numberOfFailingControls":0,"numberOfPassingControls":1,"numberOfAttestedControls":1,"numberOfRequirements":1,"numberOfControlsWithTests":1,"numberOfPassingRequirements":1,"numberOfFailingRequirements":0,"numberOfFailingCriticalRequirements":0,"sectionStats":[{"sectionName":"1","numberOfRequirements":1,"numberOfPassingRequirements":1,"numberOfFailingRequirements":0}]}]}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 2.182324s
    - id: 9
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery ListAttestations ($input: AttestationQueryInput) {\n\tattestations(input: $input) {\n\t\tid\n\t\tsubject\n\t\tdescription\n\t\texpiresOn\n\t\towner\n\t\tauthor\n\t\tdocumentLink\n\t\trevoked\n\t\tcreatedOn\n\t\tcontrolId\n\t\tstate\n\t}\n}\n","variables":{"input":{"controlId":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533"}},"operationName":"ListAttestations"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"attestations":[{"id":"e3881b3a-72aa-4870-9ee5-20e9df78a7af","subject":"data source acceptance attestation","description":null,"expiresOn":1896048000000,"owner":"test-owner@jupiterone.com","author":"james.mountifield@jupiterone.com","documentLink":null,"revoked":false,"createdOn":"2026-08-19T13:12:59.693Z","controlId":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","state":"ACTIVE"}]}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.33632825s
[...]
    - id: 15
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetFrameworkById ($id: ID!) {\n\tcontrolFramework(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\towner\n\t\tsource\n\t}\n}\n","variables":{"id":"ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9"},"operationName":"GetFrameworkById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"controlFramework":{"id":"ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9","name":"tf-provider-acc-test-framework-datasource","description":"acceptance test framework for data sources","resourceGroupId":"","owner":"test-owner@jupiterone.com","source":"J1"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 964.124584ms
    - id: 16
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetRequirementById ($id: ID!) {\n\trequirement(id: $id) {\n\t\tid\n\t\ttitle\n\t\tframeworkIds\n\t\tdescription\n\t\tidentifier\n\t\tpriority\n\t\tsection\n\t}\n}\n","variables":{"id":"ccm_r_c26b8c8b-9e6e-4451-87d0-5508a9b34569"},"operationName":"GetRequirementById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"requirement":{"id":"ccm_r_c26b8c8b-9e6e-4451-87d0-5508a9b34569","title":"tf-provider-acc-test-requirement-datasource","frameworkIds":["ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9"],"description":"acceptance test requirement for data sources","identifier":null,"priority":"HIGH","section":"1"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 3.777590333s
[...]
    - id: 18
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlTestById ($id: ID!) {\n\tcontrolTest(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tcontrolId\n\t\tqueries {\n\t\t\tname\n\t\t\tquery\n\t\t\tresultsAre\n\t\t}\n\t}\n}\n","variables":{"id":"18adb15b-9e8e-4dcb-8933-036f788e157a"},"operationName":"GetControlTestById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"controlTest":{"id":"18adb15b-9e8e-4dcb-8933-036f788e157a","name":"tf-provider-acc-test-control-test-datasource","description":null,"controlId":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533","queries":[{"name":"users without mfa","query":"FIND User WITH mfaEnabled = false","resultsAre":"BAD"}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 943.747375ms
[...]
    - id: 30
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation RevokeAttestation ($input: RevokeAttestationInput!) {\n\trevokeAttestation(input: $input) {\n\t\tid\n\t\trevoked\n\t\tstate\n\t}\n}\n","variables":{"input":{"id":"e3881b3a-72aa-4870-9ee5-20e9df78a7af"}},"operationName":"RevokeAttestation"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"revokeAttestation":{"id":"e3881b3a-72aa-4870-9ee5-20e9df78a7af","revoked":true,"state":"REVOKED"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 12.68194575s
    - id: 31
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteControlTest ($id: ID!) {\n\tdeleteControlTest(id: $id) {\n\t\tsuccess\n\t}\n}\n","variables":{"id":"18adb15b-9e8e-4dcb-8933-036f788e157a"},"operationName":"DeleteControlTest"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteControlTest":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 3.620189333s
    - id: 32
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteControl ($input: DeleteControlInput!) {\n\tdeleteControl(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533"}},"operationName":"DeleteControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteControl":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 2.872241375s
    - id: 33
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteRequirement ($input: DeleteRequirementInput!) {\n\tdeleteRequirement(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_r_c26b8c8b-9e6e-4451-87d0-5508a9b34569"}},"operationName":"DeleteRequirement"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteRequirement":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 2.156401375s
    - id: 34
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteFramework ($input: DeleteFrameworkInput!) {\n\tdeleteFramework(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_f_J1_ccb92ecb-d885-4383-9833-4436830abff9"}},"operationName":"DeleteFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteFramework":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.0365775s
    - id: 35
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlById ($id: ID!) {\n\tcontrol(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tmitreTechnique\n\t\tframeworkIds\n\t}\n}\n","variables":{"id":"ccm_c_J1_01c140dc-73db-4ca2-aa3d-098221968533"},"operationName":"GetControlById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Control not found","path":["control"],"extensions":{"code":"NOT_FOUND","serviceName":"apps-service","exception":{"message":"Control not found"}}}],"data":null}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 975.652833ms
[...]
