---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateQuestion ($question: CreateQuestionInput!) {\n\tcreateQuestion(question: $question) {\n\t\tid\n\t}\n}\n","variables":{"question":{"title":"tf-provider-test-rule","name":"","tags":["tf_acc:1","tf_acc:2"],"description":"Test","showTrend":false,"pollingInterval":"ONE_DAY","widgetId":"","queries":[{"query":"Find DataStore with classification=(''critical'' or ''sensitive'' or ''confidential'' or ''restricted'') and encrypted!=true","version":"v1","name":"query0","resultsAre":"INFORMATIVE","includeDeleted":false}],"compliance":[],"variables":null}},"operationName":"CreateQuestion"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createQuestion":{"id":"7301cc98-7c81-4b61-b8a6-c6e263e25e9f"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 12.13615375s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateReferencedQuestionRuleInstance ($instance: CreateReferencedQuestionRuleInstanceInput!) {\n\tcreateQuestionRuleInstance: createReferencedQuestionRuleInstance(instance: $instance) {\n\t\tid\n\t\taccountId\n\t\tname\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tdeleted\n\t\ttype\n\t\tnotifyOnFailure\n\t\ttriggerActionsOnNewEntitiesOnly\n\t\toutputs\n\t\tpollingInterval\n\t\tlatestAlertId\n\t\tlatestAlertIsActive\n\t\tlastEvaluationEndOn\n\t\tlastEvaluationStartOn\n\t\tlastSuccessfulEvaluationEndOn\n\t\tlastFailedEvaluationEndOn\n\t\tupdatedOn\n\t\tevaluationStep\n\t\tremediationSteps\n\t\ttags\n\t\tignorePreviousResults\n\t\tresourceGroupId\n\t\tquestionId\n\t\tquestionName\n\t\ttemplates\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\tlabels {\n\t\t\tlabelName\n\t\t\tlabelValue\n\t\t}\n\t}\n}\n","variables":{"instance":{"questionId":"7301cc98-7c81-4b61-b8a6-c6e263e25e9f","templates":null,"tags":["tf_acc:1","tf_acc:2"],"name":"tf-provider-test-rule","description":"Test","specVersion":1,"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"ignorePreviousResults":false,"remediationSteps":"","labels":[]}},"operationName":"CreateReferencedQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createQuestionRuleInstance":{"id":"c95a66ac-0eb1-44a6-9d2c-3de407a005f7","accountId":"j1dev","name":"tf-provider-test-rule","description":"Test","version":1,"specVersion":1,"latest":true,"deleted":false,"type":"QUESTION","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","latestAlertId":null,"latestAlertIsActive":null,"lastEvaluationEndOn":null,"lastEvaluationStartOn":null,"lastSuccessfulEvaluationEndOn":null,"lastFailedEvaluationEndOn":null,"updatedOn":1787767766613,"evaluationStep":null,"remediationSteps":null,"tags":["tf_acc:1","tf_acc:2"],"ignorePreviousResults":false,"resourceGroupId":null,"questionId":"7301cc98-7c81-4b61-b8a6-c6e263e25e9f","questionName":null,"templates":null,"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"1fd78722-ce6f-46cf-b43e-b67a107f0aa2"},{"type":"CREATE_ALERT","id":"e07f1c68-b1e3-4ba0-bf58-0606088dd8fd"}]}],"labels":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 3.843969833s
    - id: 2
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetQuestionRuleInstance ($id: ID!) {\n\tquestionRuleInstance(id: $id) {\n\t\tid\n\t\tname\n\t\tresourceGroupId\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tpollingInterval\n\t\tdeleted\n\t\ttype\n\t\ttemplates\n\t\tnotifyOnFailure\n\t\ttriggerActionsOnNewEntitiesOnly\n\t\tignorePreviousResults\n\t\tquestionId\n\t\tquestion {\n\t\t\tqueries {\n\t\t\t\tname\n\t\t\t\tquery\n\t\t\t\tversion\n\t\t\t\tincludeDeleted\n\t\t\t}\n\t\t}\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\toutputs\n\t\ttags\n\t\tlabels {\n\t\t\tlabelName\n\t\t\tlabelValue\n\t\t}\n\t}\n}\n","variables":{"id":"c95a66ac-0eb1-44a6-9d2c-3de407a005f7"},"operationName":"GetQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"questionRuleInstance":{"id":"c95a66ac-0eb1-44a6-9d2c-3de407a005f7","name":"tf-provider-test-rule","resourceGroupId":null,"description":"Test","version":1,"specVersion":1,"latest":true,"pollingInterval":"ONE_WEEK","deleted":false,"type":"QUESTION","templates":null,"notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"ignorePreviousResults":false,"questionId":"7301cc98-7c81-4b61-b8a6-c6e263e25e9f","question":null,"operations":[{"when":{"type":"FILTER","condition":"{{queries.query0.total != 0}}","specVersion":1},"actions":[{"targetProperty":"alertLevel","id":"1fd78722-ce6f-46cf-b43e-b67a107f0aa2","type":"SET_PROPERTY","targetValue":"HIGH"},{"id":"e07f1c68-b1e3-4ba0-bf58-0606088dd8fd","type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"tags":["tf_acc:1","tf_acc:2"],"labels":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 567.317667ms
[...]
    - id: 7
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation UpdateReferencedQuestionRuleInstance ($instance: UpdateReferencedQuestionRuleInstanceInput!) {\n\tupdateReferencedQuestionRuleInstance(instance: $instance) {\n\t\tid\n\t\taccountId\n\t\tname\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tdeleted\n\t\ttype\n\t\tnotifyOnFailure\n\t\ttriggerActionsOnNewEntitiesOnly\n\t\toutputs\n\t\tpollingInterval\n\t\tlatestAlertId\n\t\tlatestAlertIsActive\n\t\tlastEvaluationEndOn\n\t\tlastEvaluationStartOn\n\t\tlastSuccessfulEvaluationEndOn\n\t\tlastFailedEvaluationEndOn\n\t\tupdatedOn\n\t\tevaluationStep\n\t\tremediationSteps\n\t\ttags\n\t\tignorePreviousResults\n\t\tresourceGroupId\n\t\tquestionId\n\t\tquestionName\n\t\ttemplates\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\tlabels {\n\t\t\tlabelName\n\t\t\tlabelValue\n\t\t}\n\t}\n}\n","variables":{"instance":{"questionId":"7301cc98-7c81-4b61-b8a6-c6e263e25e9f","id":"c95a66ac-0eb1-44a6-9d2c-3de407a005f7","version":1,"state":{"actions":null},"templates":null,"tags":["tf_acc:1","tf_acc:2"],"name":"tf-provider-test-rule","description":"Test","specVersion":1,"operations":[{"actions":[{"id":"1fd78722-ce6f-46cf-b43e-b67a107f0aa2","targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"id":"e07f1c68-b1e3-4ba0-bf58-0606088dd8fd","type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"ignorePreviousResults":false,"remediationSteps":"","labels":[]}},"operationName":"UpdateReferencedQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateReferencedQuestionRuleInstance":{"id":"c95a66ac-0eb1-44a6-9d2c-3de407a005f7","accountId":"j1dev","name":"tf-provider-test-rule","description":"Test","version":2,"specVersion":1,"latest":true,"deleted":false,"type":"QUESTION","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","latestAlertId":null,"latestAlertIsActive":null,"lastEvaluationEndOn":null,"lastEvaluationStartOn":null,"lastSuccessfulEvaluationEndOn":null,"lastFailedEvaluationEndOn":null,"updatedOn":1787767777357,"evaluationStep":null,"remediationSteps":null,"tags":["tf_acc:1","tf_acc:2"],"ignorePreviousResults":false,"resourceGroupId":null,"questionId":"7301cc98-7c81-4b61-b8a6-c6e263e25e9f","questionName":null,"templates":null,"operations":[{"when":null,"actions":[{"id":"1fd78722-ce6f-46cf-b43e-b67a107f0aa2","targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"id":"e07f1c68-b1e3-4ba0-bf58-0606088dd8fd","type":"CREATE_ALERT"}]}],"labels":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 755.274917ms
[...]
    - id: 11
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteRuleInstance ($id: ID!) {\n\tdeleteRuleInstance(id: $id) {\n\t\tid\n\t}\n}\n","variables":{"id":"c95a66ac-0eb1-44a6-9d2c-3de407a005f7"},"operationName":"DeleteRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteRuleInstance":{"id":"c95a66ac-0eb1-44a6-9d2c-3de407a005f7"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 510.646708ms
    - id: 12
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteQuestion ($id: ID!) {\n\tdeleteQuestion(id: $id) {\n\t\tid\n\t}\n}\n","variables":{"id":"7301cc98-7c81-4b61-b8a6-c6e263e25e9f"},"operationName":"DeleteQuestion"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteQuestion":{"id":"7301cc98-7c81-4b61-b8a6-c6e263e25e9f"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.756126958s
    - id: 13
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetQuestionRuleInstance ($id: ID!) {\n\tquestionRuleInstance(id: $id) {\n\t\tid\n\t\tname\n\t\tresourceGroupId\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tpollingInterval\n\t\tdeleted\n\t\ttype\n\t\ttemplates\n\t\tnotifyOnFailure\n\t\ttriggerActionsOnNewEntitiesOnly\n\t\tignorePreviousResults\n\t\tquestionId\n\t\tquestion {\n\t\t\tqueries {\n\t\t\t\tname\n\t\t\t\tquery\n\t\t\t\tversion\n\t\t\t\tincludeDeleted\n\t\t\t}\n\t\t}\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\toutputs\n\t\ttags\n\t\tlabels {\n\t\t\tlabelName\n\t\t\tlabelValue\n\t\t}\n\t}\n}\n","variables":{"id":"c95a66ac-0eb1-44a6-9d2c-3de407a005f7"},"operationName":"GetQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Rule instance does not exist (failedOperation=getLatestPersistedRuleVersionById, attributeValues=[object Object])","path":["questionRuleInstance"],"extensions":{"code":"NOT_FOUND","serviceName":"rules","exception":{"message":"Rule instance does not exist (failedOperation=getLatestPersistedRuleVersionById, attributeValues=[object Object])"}}}],"data":{"questionRuleInstance":null}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 399.107792ms
