---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateDashboard ($input: CreateInsightsDashboardInput!) {\n\tcreateDashboard(input: $input) {\n\t\tname\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-test-dashboard","type":"Account","userIds":null,"groupIds":null,"widgets":null,"published":false,"publishedToUserIds":null,"publishedToGroupIds":null,"ttd":0,"resourceGroupId":"rg-123456"}},"operationName":"CreateDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createDashboard":{"name":"tf-provider-test-dashboard","id":"252a946c-4136-4f1b-ab42-5cb891dfb48a"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 274.883917ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetDashboard ($dashboardId: String!) {\n\tgetDashboard(dashboardId: $dashboardId) {\n\t\tid\n\t\tname\n\t\tresourceGroupId\n\t}\n}\n","variables":{"dashboardId":"252a946c-4136-4f1b-ab42-5cb891dfb48a"},"operationName":"GetDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"getDashboard":{"id":"252a946c-4136-4f1b-ab42-5cb891dfb48a","name":"tf-provider-test-dashboard","resourceGroupId":"rg-123456"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 204.172708ms
[...]
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteDashboard ($dashboardId: String!) {\n\tdeleteDashboard(dashboardId: $dashboardId) {\n\t\tsuccess\n\t}\n}\n","variables":{"dashboardId":"252a946c-4136-4f1b-ab42-5cb891dfb48a"},"operationName":"DeleteDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteDashboard":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 318.156542ms
    - id: 4
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetDashboard ($dashboardId: String!) {\n\tgetDashboard(dashboardId: $dashboardId) {\n\t\tid\n\t\tname\n\t\tresourceGroupId\n\t}\n}\n","variables":{"dashboardId":"252a946c-4136-4f1b-ab42-5cb891dfb48a"},"operationName":"GetDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Dashboard with id 252a946c-4136-4f1b-ab42-5cb891dfb48a not found","path":["getDashboard"],"extensions":{"code":"NOT_FOUND","serviceName":"dashboard","exception":{"message":"Dashboard with id 252a946c-4136-4f1b-ab42-5cb891dfb48a not found","locations":[{"line":1,"column":56}],"path":["getDashboard"],"stacktrace":["GraphQLError: Dashboard with id 252a946c-4136-4f1b-ab42-5cb891dfb48a not found","    at eOo (/opt/jupiterone/app/server.js:1766:39261)","    at /opt/jupiterone/app/server.js:1766:36598","    at Array.map (<anonymous>)","    at a (/opt/jupiterone/app/server.js:1766:36591)","    at process.processTicksAndRejections (node:internal/process/task_queues:95:5)","    at async /opt/jupiterone/app/server.js:1766:35752","    at async qee (/opt/jupiterone/app/server.js:1766:33877)","    at async /opt/jupiterone/app/server.js:1766:31877","    at async /opt/jupiterone/app/server.js:1855:3815","    at async g (/opt/jupiterone/app/server.js:292:40606)"]}}}],"data":null}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 192.947458ms
