---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateUserGroup ($name: String!, $description: String, $queryPolicy: [JSON!], $abacPermissions: [String!]) {\n\tcreateIamGroup(name: $name, description: $description, queryPolicy: $queryPolicy, abacPermissions: $abacPermissions) {\n\t\tid\n\t}\n}\n","variables":{"name":"tf-provider-test-user-group-import","description":"description of tf-provider-test-user-group-import","queryPolicy":null,"abacPermissions":null},"operationName":"CreateUserGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createIamGroup":{"id":"02e88618-a589-411b-9efb-5ebc7bd881a8"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 189.055042ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetUserGroup ($id: String!) {\n\tiamGetGroup(group: $id) {\n\t\tid\n\t\tgroupName\n\t\tgroupDescription\n\t\tgroupQueryPolicy {\n\t\t\tstatement\n\t\t}\n\t\tgroupAbacPermission {\n\t\t\tstatement\n\t\t}\n\t}\n}\n","variables":{"id":"02e88618-a589-411b-9efb-5ebc7bd881a8"},"operationName":"GetUserGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"iamGetGroup":{"id":"02e88618-a589-411b-9efb-5ebc7bd881a8","groupName":"tf-provider-test-user-group-import","groupDescription":"description of tf-provider-test-user-group-import","groupQueryPolicy":{"statement":[]},"groupAbacPermission":{"statement":[]}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 238.424375ms
