---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceLibraryItem ($input: CreateComplianceLibraryItemInput!) {\n\tcreateComplianceLibraryItem(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc test LibraryItem","description":"","displayCategory":"","ref":"test-requirement-1","webLink":""}},"operationName":"CreateComplianceLibraryItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceLibraryItem":{"id":"c3fcceb3-0432-410f-9ee2-f6fcda06960a"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.048421958s
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceLibraryItemById ($id: ID!) {\n\tcomplianceLibraryItem(input: {id:$id}) {\n\t\tname\n\t\tdescription\n\t\tdisplayCategory\n\t\tref\n\t\twebLink\n\t\tpolicyItemId\n\t}\n}\n","variables":{"id":"c3fcceb3-0432-410f-9ee2-f6fcda06960a"},"operationName":"GetComplianceLibraryItemById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceLibraryItem":{"name":"tf-provider-acc test LibraryItem","description":"","displayCategory":"","ref":"test-requirement-1","webLink":null,"policyItemId":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 823.158958ms
[...]
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateComplianceLibraryItem ($input: UpdateComplianceLibraryItemInput!) {\n\tupdateComplianceLibraryItem(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"id":"c3fcceb3-0432-410f-9ee2-f6fcda06960a","updates":{"name":"tf-provider-acc test LibraryItem","description":"tf-provider acceptance test library item","displayCategory":"third","ref":"test-requirement-2","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints"}}},"operationName":"UpdateComplianceLibraryItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateComplianceLibraryItem":{"id":"c3fcceb3-0432-410f-9ee2-f6fcda06960a"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 807.280125ms
[...]
    - id: 11
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceLibraryItem ($id: ID!) {\n\tdeleteComplianceLibraryItem(input: {id:$id})\n}\n","variables":{"id":"c3fcceb3-0432-410f-9ee2-f6fcda06960a"},"operationName":"DeleteComplianceLibraryItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceLibraryItem":"c3fcceb3-0432-410f-9ee2-f6fcda06960a"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 370.7255ms
