---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateControl ($input: CreateControlInput!) {\n\tcreateControl(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tmitreTechnique\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc-test-control-for-attestation","description":"","state":"LIVE","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":""}},"operationName":"CreateControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createControl":{"id":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71","name":"tf-provider-acc-test-control-for-attestation","description":"","resourceGroupId":null,"state":"LIVE","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.875623291s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateAttestation ($input: CreateAttestationInput!) {\n\tcreateAttestation(input: $input) {\n\t\tid\n\t\tsubject\n\t\tdescription\n\t\texpiresOn\n\t\towner\n\t\tauthor\n\t\tdocumentLink\n\t\trevoked\n\t\tcreatedOn\n\t\tcontrolId\n\t\tstate\n\t}\n}\n","variables":{"input":{"controlId":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71","subject":"SOC 2 vendor report reviewed","description":"acceptance test attestation","expiresOn":1896048000000,"owner":"test-owner@jupiterone.com","documentLink":"https://example.com/soc2.pdf"}},"operationName":"CreateAttestation"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createAttestation":{"id":"82b987c4-b745-4cfb-a798-a9a230cddd3c","subject":"SOC 2 vendor report reviewed","description":"acceptance test attestation","expiresOn":1896048000000,"owner":"test-owner@jupiterone.com","author":"james.mountifield@jupiterone.com","documentLink":"https://example.com/soc2.pdf","revoked":false,"createdOn":null,"controlId":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71","state":"ACTIVE"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 4.269468s
    - id: 2
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetAttestationsByControlId ($controlId: String!) {\n\tattestations(input: {controlId:$controlId,includeDeleted:true}) {\n\t\tid\n\t\tsubject\n\t\tdescription\n\t\texpiresOn\n\t\towner\n\t\tauthor\n\t\tdocumentLink\n\t\trevoked\n\t\tcreatedOn\n\t\tcontrolId\n\t\tstate\n\t}\n}\n","variables":{"controlId":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71"},"operationName":"GetAttestationsByControlId"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"attestations":[{"id":"82b987c4-b745-4cfb-a798-a9a230cddd3c","subject":"SOC 2 vendor report reviewed","description":"acceptance test attestation","expiresOn":1896048000000,"owner":"test-owner@jupiterone.com","author":"james.mountifield@jupiterone.com","documentLink":"https://example.com/soc2.pdf","revoked":false,"createdOn":"2026-08-19T12:31:25.594Z","controlId":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71","state":"ACTIVE"}]}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.504275458s
    - id: 3
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlById ($id: ID!) {\n\tcontrol(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tmitreTechnique\n\t\tframeworkIds\n\t}\n}\n","variables":{"id":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71"},"operationName":"GetControlById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"control":{"id":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71","name":"tf-provider-acc-test-control-for-attestation","description":"","resourceGroupId":null,"state":"LIVE","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","mitreTechnique":null,"frameworkIds":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.370025375s
[...]
    - id: 7
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation UpdateAttestation ($input: UpdateAttestationInput!) {\n\tupdateAttestation(input: $input) {\n\t\tid\n\t\tsubject\n\t\tdescription\n\t\texpiresOn\n\t\towner\n\t\tauthor\n\t\tdocumentLink\n\t\trevoked\n\t\tcreatedOn\n\t\tcontrolId\n\t\tstate\n\t}\n}\n","variables":{"input":{"id":"82b987c4-b745-4cfb-a798-a9a230cddd3c","subject":"SOC 2 vendor report re-reviewed","description":"acceptance test attestation","expiresOn":1940587200000,"owner":"test-owner@jupiterone.com","documentLink":"https://example.com/soc2.pdf"}},"operationName":"UpdateAttestation"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateAttestation":{"id":"82b987c4-b745-4cfb-a798-a9a230cddd3c","subject":"SOC 2 vendor report re-reviewed","description":"acceptance test attestation","expiresOn":1940587200000,"owner":"test-owner@jupiterone.com","author":"james.mountifield@jupiterone.com","documentLink":"https://example.com/soc2.pdf","revoked":false,"createdOn":"2026-08-19T12:31:25.594Z","controlId":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71","state":"ACTIVE"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 6.374863875s
[...]
    - id: 11
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation RevokeAttestation ($input: RevokeAttestationInput!) {\n\trevokeAttestation(input: $input) {\n\t\tid\n\t\trevoked\n\t\tstate\n\t}\n}\n","variables":{"input":{"id":"82b987c4-b745-4cfb-a798-a9a230cddd3c"}},"operationName":"RevokeAttestation"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"revokeAttestation":{"id":"82b987c4-b745-4cfb-a798-a9a230cddd3c","revoked":true,"state":"REVOKED"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 3.687906792s
    - id: 12
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteControl ($input: DeleteControlInput!) {\n\tdeleteControl(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71"}},"operationName":"DeleteControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteControl":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.98553375s
    - id: 13
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetAttestationsByControlId ($controlId: String!) {\n\tattestations(input: {controlId:$controlId,includeDeleted:true}) {\n\t\tid\n\t\tsubject\n\t\tdescription\n\t\texpiresOn\n\t\towner\n\t\tauthor\n\t\tdocumentLink\n\t\trevoked\n\t\tcreatedOn\n\t\tcontrolId\n\t\tstate\n\t}\n}\n","variables":{"controlId":"ccm_c_J1_740e9973-e9a8-49b1-9ed7-6959d51b2f71"},"operationName":"GetAttestationsByControlId"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Control not found","path":["attestations"],"extensions":{"code":"NOT_FOUND","serviceName":"apps-service","exception":{"message":"Control not found"}}}],"data":null}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 986.828125ms
