---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateDashboard ($input: CreateInsightsDashboardInput!) {\n\tcreateDashboard(input: $input) {\n\t\tname\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"TF Test Dashboard 2","type":"Account","userIds":null,"groupIds":null,"widgets":null,"published":false,"publishedToUserIds":null,"publishedToGroupIds":null,"ttd":0}},"operationName":"CreateDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createDashboard":{"name":"TF Test Dashboard 2","id":"b6676880-8df8-47fc-8666-7d88164d0e3f"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 668.972125ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateDashboardParameter ($input: CreateDashboardParameterInput!) {\n\tcreateDashboardParameter(input: $input) {\n\t\tdashboardId\n\t\taccountId\n\t\tid\n\t\tlabel\n\t\tname\n\t\toptions\n\t\tvalueType\n\t\ttype\n\t\tdefault\n\t\tdisableCustomInput\n\t\trequireValue\n\t}\n}\n","variables":{"input":{"dashboardId":"b6676880-8df8-47fc-8666-7d88164d0e3f","label":"Test Parameter","name":"testParameter","valueType":"string","options":null,"type":"QUERY_VARIABLE","default":"","disableCustomInput":false,"requireValue":true}},"operationName":"CreateDashboardParameter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createDashboardParameter":{"dashboardId":"b6676880-8df8-47fc-8666-7d88164d0e3f","accountId":"j1dev","id":"833fa061-139e-40b7-a8de-16d7b0b2cc94","label":"Test Parameter","name":"testParameter","options":null,"valueType":"string","type":"QUERY_VARIABLE","default":null,"disableCustomInput":false,"requireValue":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 916.691042ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetDashboard ($dashboardId: String!) {\n\tgetDashboard(dashboardId: $dashboardId) {\n\t\tid\n\t\tname\n\t}\n}\n","variables":{"dashboardId":"b6676880-8df8-47fc-8666-7d88164d0e3f"},"operationName":"GetDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"getDashboard":{"id":"b6676880-8df8-47fc-8666-7d88164d0e3f","name":"TF Test Dashboard 2"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 617.695417ms
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery DashboardParameter ($id: ID!) {\n\tdashboardParameter(id: $id) {\n\t\tdashboardId\n\t\taccountId\n\t\tid\n\t\tlabel\n\t\tname\n\t\toptions\n\t\tvalueType\n\t\ttype\n\t\tdefault\n\t\tdisableCustomInput\n\t\trequireValue\n\t}\n}\n","variables":{"id":"833fa061-139e-40b7-a8de-16d7b0b2cc94"},"operationName":"DashboardParameter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"dashboardParameter":{"dashboardId":"b6676880-8df8-47fc-8666-7d88164d0e3f","accountId":"j1dev","id":"833fa061-139e-40b7-a8de-16d7b0b2cc94","label":"Test Parameter","name":"testParameter","options":null,"valueType":"string","type":"QUERY_VARIABLE","default":null,"disableCustomInput":false,"requireValue":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 554.998333ms
[...]
    - id: 8
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteDashboardParameter ($id: ID!) {\n\tdeleteDashboardParameter(id: $id) {\n\t\tsuccess\n\t}\n}\n","variables":{"id":"833fa061-139e-40b7-a8de-16d7b0b2cc94"},"operationName":"DeleteDashboardParameter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteDashboardParameter":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 576.686333ms
    - id: 9
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteDashboard ($dashboardId: String!) {\n\tdeleteDashboard(dashboardId: $dashboardId) {\n\t\tsuccess\n\t}\n}\n","variables":{"dashboardId":"b6676880-8df8-47fc-8666-7d88164d0e3f"},"operationName":"DeleteDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteDashboard":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 709.271958ms
