---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateIntegrationInstance ($instance: CreateIntegrationInstanceInput!) {\n\tcreateIntegrationInstance(instance: $instance) {\n\t\tid\n\t\tname\n\t\tpollingInterval\n\t\tintegrationDefinitionId\n\t\tdescription\n\t\tconfig\n\t\tingestionSourcesOverrides {\n\t\t\tingestionSourceId\n\t\t\tenabled\n\t\t}\n\t\tsourceIntegrationInstanceId\n\t\tcollectorPoolId\n\t\tpollingIntervalCronExpression {\n\t\t\thour\n\t\t\tdayOfWeek\n\t\t}\n\t\toffsiteComplete\n\t}\n}\n","variables":{"instance":{"name":"tf-provider-acc-test-integration","pollingInterval":"ONE_DAY","pollingIntervalCronExpression":{"hour":0,"dayOfWeek":0},"integrationDefinitionId":"8013680b-311a-4c2e-b53b-c8735fd97a5c","description":"Test integration","config":{"key":"value"},"resourceGroupId":"rg-123456"}},"operationName":"CreateIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createIntegrationInstance":{"id":"a1d39f2b-d7b0-4526-92bf-964e338b838b","name":"tf-provider-acc-test-integration","pollingInterval":"ONE_DAY","integrationDefinitionId":"8013680b-311a-4c2e-b53b-c8735fd97a5c","description":"Test integration","config":{"key":"***masked***"},"ingestionSourcesOverrides":null,"sourceIntegrationInstanceId":null,"collectorPoolId":null,"pollingIntervalCronExpression":{"hour":0,"dayOfWeek":0},"offsiteComplete":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.149660125s
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetIntegrationInstance ($id: String!) {\n\tintegrationInstance(id: $id) {\n\t\tid\n\t\tname\n\t\tpollingInterval\n\t\tintegrationDefinitionId\n\t\tdescription\n\t\tconfig\n\t\tingestionSourcesOverrides {\n\t\t\tingestionSourceId\n\t\t\tenabled\n\t\t}\n\t\tsourceIntegrationInstanceId\n\t\tcollectorPoolId\n\t\tresourceGroupId\n\t\tpollingIntervalCronExpression {\n\t\t\thour\n\t\t\tdayOfWeek\n\t\t}\n\t\toffsiteComplete\n\t}\n}\n","variables":{"id":"a1d39f2b-d7b0-4526-92bf-964e338b838b"},"operationName":"GetIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"integrationInstance":{"id":"a1d39f2b-d7b0-4526-92bf-964e338b838b","name":"tf-provider-acc-test-integration","pollingInterval":"ONE_DAY","integrationDefinitionId":"8013680b-311a-4c2e-b53b-c8735fd97a5c","description":"Test integration","config":{"key":"***masked***"},"ingestionSourcesOverrides":null,"sourceIntegrationInstanceId":null,"collectorPoolId":null,"resourceGroupId":"rg-123456","pollingIntervalCronExpression":{"hour":0,"dayOfWeek":0},"offsiteComplete":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 187.482625ms
[...]
    - id: 5
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteIntegrationInstance ($id: String!) {\n\tdeleteIntegrationInstance(id: $id) {\n\t\tsuccess\n\t}\n}\n","variables":{"id":"a1d39f2b-d7b0-4526-92bf-964e338b838b"},"operationName":"DeleteIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteIntegrationInstance":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 453.711125ms
