---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceFramework ($framework: CreateComplianceFrameworkInput!) {\n\tcreateComplianceFramework(input: $framework) {\n\t\tid\n\t}\n}\n","variables":{"framework":{"name":"tf-acc-test-framework","version":"1","frameworkType":"STANDARD","webLink":"","scopeFilters":null}},"operationName":"CreateComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceFramework":{"id":"9e8595a7-6b6e-42cc-8a29-c80e85f9e899"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.790640916s
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceGroup ($input: CreateComplianceGroupInput!) {\n\tcreateComplianceGroup(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-acc-test-group","description":"","displayCategory":"","frameworkId":"9e8595a7-6b6e-42cc-8a29-c80e85f9e899","webLink":""}},"operationName":"CreateComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceGroup":{"id":"daee12fb-be37-461f-b9e3-9ad96d778159"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.15666s
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceFrameworkItem ($input: CreateComplianceFrameworkItemInput!) {\n\tcreateComplianceFrameworkItem(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-acc-test-item","description":"","displayCategory":"","ref":"","frameworkId":"9e8595a7-6b6e-42cc-8a29-c80e85f9e899","groupId":"daee12fb-be37-461f-b9e3-9ad96d778159","webLink":""}},"operationName":"CreateComplianceFrameworkItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceFrameworkItem":{"id":"58bf83f7-77bd-40d6-864a-34dc10dd5577"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 3.044858917s
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceLibraryItem ($input: CreateComplianceLibraryItemInput!) {\n\tcreateComplianceLibraryItem(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-acc-test-control","description":"","displayCategory":"","ref":"","webLink":""}},"operationName":"CreateComplianceLibraryItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceLibraryItem":{"id":"a4f10947-b942-4c9a-9e47-b9beae67dac3"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.455908875s
    - id: 4
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation AttachComplianceLibraryItemToComplianceFrameworkItem ($input: AttachComplianceLibraryItemToComplianceFrameworkItemInput!) {\n\tattachComplianceLibraryItemToComplianceFrameworkItem(input: $input) {\n\t\trelationshipType\n\t}\n}\n","variables":{"input":{"frameworkItemId":"58bf83f7-77bd-40d6-864a-34dc10dd5577","libraryItemId":"a4f10947-b942-4c9a-9e47-b9beae67dac3","relationshipType":"INHERIT_EVIDENCE"}},"operationName":"AttachComplianceLibraryItemToComplianceFrameworkItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"attachComplianceLibraryItemToComplianceFrameworkItem":{"relationshipType":"INHERIT_EVIDENCE"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 493.763625ms
    - id: 5
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceFrameworkItemRelationshipsById ($id: ID!) {\n\tcomplianceFrameworkItem(input: {id:$id}) {\n\t\tlibraryItems {\n\t\t\tinheritedEvidenceLibraryItems {\n\t\t\t\tid\n\t\t\t}\n\t\t\tignoredEvidenceLibraryItems {\n\t\t\t\tid\n\t\t\t}\n\t\t}\n\t}\n}\n","variables":{"id":"58bf83f7-77bd-40d6-864a-34dc10dd5577"},"operationName":"GetComplianceFrameworkItemRelationshipsById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFrameworkItem":{"libraryItems":{"inheritedEvidenceLibraryItems":[{"id":"a4f10947-b942-4c9a-9e47-b9beae67dac3"}],"ignoredEvidenceLibraryItems":[]}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.040642959s
[...]
    - id: 7
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateComplianceLibraryItemToComplianceFrameworkItemRelationship ($input: UpdateComplianceLibraryItemToComplianceFrameworkItemRelationshipInput!) {\n\tupdateComplianceLibraryItemToComplianceFrameworkItemRelationship(input: $input) {\n\t\trelationshipType\n\t}\n}\n","variables":{"input":{"frameworkItemId":"58bf83f7-77bd-40d6-864a-34dc10dd5577","libraryItemId":"a4f10947-b942-4c9a-9e47-b9beae67dac3","updates":{"relationshipType":"IGNORE_EVIDENCE"}}},"operationName":"UpdateComplianceLibraryItemToComplianceFrameworkItemRelationship"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateComplianceLibraryItemToComplianceFrameworkItemRelationship":{"relationshipType":"IGNORE_EVIDENCE"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.195835792s
[...]
    - id: 10
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceFramework ($input: DeleteComplianceFrameworkInput!) {\n\tdeleteComplianceFramework(input: $input)\n}\n","variables":{"input":{"id":"9e8595a7-6b6e-42cc-8a29-c80e85f9e899"}},"operationName":"DeleteComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceFramework":"9e8595a7-6b6e-42cc-8a29-c80e85f9e899"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.099630833s
    - id: 11
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceLibraryItem ($id: ID!) {\n\tdeleteComplianceLibraryItem(input: {id:$id})\n}\n","variables":{"id":"a4f10947-b942-4c9a-9e47-b9beae67dac3"},"operationName":"DeleteComplianceLibraryItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceLibraryItem":"a4f10947-b942-4c9a-9e47-b9beae67dac3"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 439.663ms
