---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateIntegrationInstance ($instance: CreateIntegrationInstanceInput!) {\n\tcreateIntegrationInstance(instance: $instance) {\n\t\tid\n\t\tname\n\t\taccountId\n\t\tsourceIntegrationInstanceId\n\t\tpollingInterval\n\t\tintegrationDefinitionId\n\t\tdescription\n\t\tconfig\n\t\toffsiteComplete\n\t\tinstanceRelationship\n\t\tcollectorPoolId\n\t}\n}\n","variables":{"instance":{"name":"tf-acc-test-4853679450963121774","sourceIntegrationInstanceId":"","pollingInterval":"ONE_DAY","pollingIntervalCronExpression":{"hour":0,"dayOfWeek":0},"integrationDefinitionId":"8013680b-311a-4c2e-b53b-c8735fd97a5c","description":"Test integration","config":{"key":"value"},"offsiteComplete":false,"ingestionSourcesOverrides":null,"collectorPoolId":""}},"operationName":"CreateIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createIntegrationInstance":{"id":"38a5fb06-0882-4877-9d64-03ba1d4f0aaa","name":"tf-acc-test-4853679450963121774","accountId":"j1dev","sourceIntegrationInstanceId":"","pollingInterval":"ONE_DAY","integrationDefinitionId":"8013680b-311a-4c2e-b53b-c8735fd97a5c","description":"Test integration","config":{"key":"***masked***"},"offsiteComplete":false,"instanceRelationship":"STANDALONE","collectorPoolId":""}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.086208834s
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetIntegrationInstance ($id: String!) {\n\tintegrationInstance(id: $id) {\n\t\tid\n\t\tname\n\t\taccountId\n\t\tsourceIntegrationInstanceId\n\t\tpollingInterval\n\t\tintegrationDefinitionId\n\t\tdescription\n\t\tconfig\n\t\toffsiteComplete\n\t\tinstanceRelationship\n\t\tcollectorPoolId\n\t}\n}\n","variables":{"id":"38a5fb06-0882-4877-9d64-03ba1d4f0aaa"},"operationName":"GetIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"integrationInstance":{"id":"38a5fb06-0882-4877-9d64-03ba1d4f0aaa","name":"tf-acc-test-4853679450963121774","accountId":"j1dev","sourceIntegrationInstanceId":"","pollingInterval":"ONE_DAY","integrationDefinitionId":"8013680b-311a-4c2e-b53b-c8735fd97a5c","description":"Test integration","config":{"key":"***masked***"},"offsiteComplete":false,"instanceRelationship":"STANDALONE","collectorPoolId":""}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 556.113ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteIntegrationInstance ($id: String!) {\n\tdeleteIntegrationInstance(id: $id) {\n\t\tsuccess\n\t}\n}\n","variables":{"id":"38a5fb06-0882-4877-9d64-03ba1d4f0aaa"},"operationName":"DeleteIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteIntegrationInstance":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 619.06675ms
