---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateQuestion ($question: CreateQuestionInput!) {\n\tcreateQuestion(question: $question) {\n\t\tid\n\t}\n}\n","variables":{"question":{"title":"tf-provider-test-rule","name":"","tags":["tf_acc:1","tf_acc:2"],"description":"Test","showTrend":false,"pollingInterval":"ONE_DAY","widgetId":"","queries":[{"query":"Find DataStore with classification=(''critical'' or ''sensitive'' or ''confidential'' or ''restricted'') and encrypted!=true","version":"v1","name":"query0","resultsAre":"INFORMATIVE","includeDeleted":false}],"compliance":[],"variables":null}},"operationName":"CreateQuestion"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createQuestion":{"id":"b07a2f3e-50f7-4a7e-b65c-92959ac9b9fe"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 2.421468417s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateReferencedQuestionRuleInstance ($instance: CreateReferencedQuestionRuleInstanceInput!) {\n\tcreateQuestionRuleInstance: createReferencedQuestionRuleInstance(instance: $instance) {\n\t\tid\n\t\tversion\n\t\tspecVersion\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t}\n}\n","variables":{"instance":{"questionId":"b07a2f3e-50f7-4a7e-b65c-92959ac9b9fe","templates":null,"tags":["tf_acc:1","tf_acc:2"],"name":"tf-provider-test-rule","description":"Test","specVersion":1,"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"ignorePreviousResults":false,"remediationSteps":"","collectionId":"","labels":null}},"operationName":"CreateReferencedQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createQuestionRuleInstance":{"id":"429574a6-687e-4fd1-aff8-ce7248d396e3","version":1,"specVersion":1,"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"1c35d201-6cfe-40cf-8a40-85572d260f4a"},{"type":"CREATE_ALERT","id":"94ad2b7a-44a0-402d-86df-61490517a28f"}]}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.455695417s
[...]
    - id: 3
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetQuestionRuleInstance ($id: ID!) {\n\tquestionRuleInstance(id: $id) {\n\t\tid\n\t\tname\n\t\tresourceGroupId\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tpollingInterval\n\t\tdeleted\n\t\ttype\n\t\ttemplates\n\t\tnotifyOnFailure\n\t\ttriggerActionsOnNewEntitiesOnly\n\t\tignorePreviousResults\n\t\tquestionId\n\t\tquestion {\n\t\t\tqueries {\n\t\t\t\tname\n\t\t\t\tquery\n\t\t\t\tversion\n\t\t\t\tincludeDeleted\n\t\t\t}\n\t\t}\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\toutputs\n\t\ttags\n\t}\n}\n","variables":{"id":"429574a6-687e-4fd1-aff8-ce7248d396e3"},"operationName":"GetQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"questionRuleInstance":{"id":"429574a6-687e-4fd1-aff8-ce7248d396e3","name":"tf-provider-test-rule","resourceGroupId":null,"description":"Test","version":1,"specVersion":1,"latest":true,"pollingInterval":"ONE_WEEK","deleted":false,"type":"QUESTION","templates":null,"notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"ignorePreviousResults":false,"questionId":"b07a2f3e-50f7-4a7e-b65c-92959ac9b9fe","question":null,"operations":[{"when":{"type":"FILTER","condition":"{{queries.query0.total != 0}}","specVersion":1},"actions":[{"targetValue":"HIGH","id":"1c35d201-6cfe-40cf-8a40-85572d260f4a","type":"SET_PROPERTY","targetProperty":"alertLevel"},{"type":"CREATE_ALERT","id":"94ad2b7a-44a0-402d-86df-61490517a28f"}]}],"outputs":["queries.query0.total","alertLevel"],"tags":["tf_acc:1","tf_acc:2"]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 158.445834ms
[...]
    - id: 6
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation UpdateReferencedQuestionRuleInstance ($instance: UpdateReferencedQuestionRuleInstanceInput!) {\n\tupdateReferencedQuestionRuleInstance(instance: $instance) {\n\t\tversion\n\t\tspecVersion\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t}\n}\n","variables":{"instance":{"questionId":"b07a2f3e-50f7-4a7e-b65c-92959ac9b9fe","id":"429574a6-687e-4fd1-aff8-ce7248d396e3","version":1,"state":{"actions":null},"templates":null,"tags":["tf_acc:1","tf_acc:2"],"name":"tf-provider-test-rule","description":"Test","specVersion":1,"operations":[{"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"ignorePreviousResults":false,"remediationSteps":"","collectionId":"","labels":null}},"operationName":"UpdateReferencedQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateReferencedQuestionRuleInstance":{"version":2,"specVersion":1,"operations":[{"when":null,"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"fcf33883-ac59-4de6-af47-efcb50f8ec56"},{"type":"CREATE_ALERT","id":"9c8393e9-abcd-431e-be99-b7dd831d52b3"}]}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 611.525084ms
[...]
    - id: 9
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteRuleInstance ($id: ID!) {\n\tdeleteRuleInstance(id: $id) {\n\t\tid\n\t}\n}\n","variables":{"id":"429574a6-687e-4fd1-aff8-ce7248d396e3"},"operationName":"DeleteRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteRuleInstance":{"id":"429574a6-687e-4fd1-aff8-ce7248d396e3"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 301.521625ms
    - id: 10
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteQuestion ($id: ID!) {\n\tdeleteQuestion(id: $id) {\n\t\tid\n\t}\n}\n","variables":{"id":"b07a2f3e-50f7-4a7e-b65c-92959ac9b9fe"},"operationName":"DeleteQuestion"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteQuestion":{"id":"b07a2f3e-50f7-4a7e-b65c-92959ac9b9fe"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 486.108625ms
