---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateQuestion ($question: CreateQuestionInput!) {\n\tcreateQuestion(question: $question) {\n\t\tid\n\t}\n}\n","variables":{"question":{"title":"tf-provider-test-rule","name":"","tags":["tf_acc:1","tf_acc:2"],"description":"Test","showTrend":false,"pollingInterval":"ONE_DAY","widgetId":"","queries":[{"query":"Find DataStore with classification=(''critical'' or ''sensitive'' or ''confidential'' or ''restricted'') and encrypted!=true","version":"v1","name":"query0","resultsAre":"INFORMATIVE","includeDeleted":false}],"compliance":[],"variables":null}},"operationName":"CreateQuestion"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createQuestion":{"id":"1bd32cb7-7d37-4366-b0c2-f0ca4d193e25"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 690.616667ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateReferencedQuestionRuleInstance ($instance: CreateReferencedQuestionRuleInstanceInput!) {\n\tcreateQuestionRuleInstance: createReferencedQuestionRuleInstance(instance: $instance) {\n\t\tid\n\t\taccountId\n\t\tname\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tdeleted\n\t\ttype\n\t\tnotifyOnFailure\n\t\ttriggerActionsOnNewEntitiesOnly\n\t\toutputs\n\t\tpollingInterval\n\t\tlatestAlertId\n\t\tlatestAlertIsActive\n\t\tlastEvaluationEndOn\n\t\tlastEvaluationStartOn\n\t\tlastSuccessfulEvaluationEndOn\n\t\tlastFailedEvaluationEndOn\n\t\tupdatedOn\n\t\tevaluationStep\n\t\tremediationSteps\n\t\ttags\n\t\tignorePreviousResults\n\t\tresourceGroupId\n\t\tquestionId\n\t\tquestionName\n\t\ttemplates\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\tlabels {\n\t\t\tlabelName\n\t\t\tlabelValue\n\t\t}\n\t}\n}\n","variables":{"instance":{"questionId":"1bd32cb7-7d37-4366-b0c2-f0ca4d193e25","templates":null,"tags":["tf_acc:1","tf_acc:2"],"name":"tf-provider-test-rule","description":"Test","specVersion":1,"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"ignorePreviousResults":false,"remediationSteps":"","labels":[]}},"operationName":"CreateReferencedQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createQuestionRuleInstance":{"id":"c33e00f3-65f3-4ad0-93bd-d757a34e7c35","accountId":"j1","name":"tf-provider-test-rule","description":"Test","version":1,"specVersion":1,"latest":true,"deleted":false,"type":"QUESTION","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","latestAlertId":null,"latestAlertIsActive":null,"lastEvaluationEndOn":null,"lastEvaluationStartOn":null,"lastSuccessfulEvaluationEndOn":null,"lastFailedEvaluationEndOn":null,"updatedOn":1759281869087,"evaluationStep":null,"remediationSteps":null,"tags":["tf_acc:1","tf_acc:2"],"ignorePreviousResults":false,"resourceGroupId":null,"questionId":"1bd32cb7-7d37-4366-b0c2-f0ca4d193e25","questionName":null,"templates":null,"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"7b385ed4-231a-4d4b-b693-700e6a52e2ae"},{"type":"CREATE_ALERT","id":"35a86b13-fbf6-4358-b9ac-8d3077e48d44"}]}],"labels":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.022182333s
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetQuestionRuleInstance ($id: ID!) {\n\tquestionRuleInstance(id: $id) {\n\t\tid\n\t\tname\n\t\tresourceGroupId\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tpollingInterval\n\t\tdeleted\n\t\ttype\n\t\ttemplates\n\t\tnotifyOnFailure\n\t\ttriggerActionsOnNewEntitiesOnly\n\t\tignorePreviousResults\n\t\tquestionId\n\t\tquestion {\n\t\t\tqueries {\n\t\t\t\tname\n\t\t\t\tquery\n\t\t\t\tversion\n\t\t\t\tincludeDeleted\n\t\t\t}\n\t\t}\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\toutputs\n\t\ttags\n\t\tlabels {\n\t\t\tlabelName\n\t\t\tlabelValue\n\t\t}\n\t}\n}\n","variables":{"id":"c33e00f3-65f3-4ad0-93bd-d757a34e7c35"},"operationName":"GetQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"questionRuleInstance":{"id":"c33e00f3-65f3-4ad0-93bd-d757a34e7c35","name":"tf-provider-test-rule","resourceGroupId":null,"description":"Test","version":1,"specVersion":1,"latest":true,"pollingInterval":"ONE_WEEK","deleted":false,"type":"QUESTION","templates":null,"notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"ignorePreviousResults":false,"questionId":"1bd32cb7-7d37-4366-b0c2-f0ca4d193e25","question":null,"operations":[{"when":{"type":"FILTER","condition":"{{queries.query0.total != 0}}","specVersion":1},"actions":[{"targetValue":"HIGH","id":"7b385ed4-231a-4d4b-b693-700e6a52e2ae","type":"SET_PROPERTY","targetProperty":"alertLevel"},{"type":"CREATE_ALERT","id":"35a86b13-fbf6-4358-b9ac-8d3077e48d44"}]}],"outputs":["queries.query0.total","alertLevel"],"tags":["tf_acc:1","tf_acc:2"],"labels":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 194.781208ms
[...]
    - id: 7
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateReferencedQuestionRuleInstance ($instance: UpdateReferencedQuestionRuleInstanceInput!) {\n\tupdateReferencedQuestionRuleInstance(instance: $instance) {\n\t\tid\n\t\taccountId\n\t\tname\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tdeleted\n\t\ttype\n\t\tnotifyOnFailure\n\t\ttriggerActionsOnNewEntitiesOnly\n\t\toutputs\n\t\tpollingInterval\n\t\tlatestAlertId\n\t\tlatestAlertIsActive\n\t\tlastEvaluationEndOn\n\t\tlastEvaluationStartOn\n\t\tlastSuccessfulEvaluationEndOn\n\t\tlastFailedEvaluationEndOn\n\t\tupdatedOn\n\t\tevaluationStep\n\t\tremediationSteps\n\t\ttags\n\t\tignorePreviousResults\n\t\tresourceGroupId\n\t\tquestionId\n\t\tquestionName\n\t\ttemplates\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\tlabels {\n\t\t\tlabelName\n\t\t\tlabelValue\n\t\t}\n\t}\n}\n","variables":{"instance":{"questionId":"1bd32cb7-7d37-4366-b0c2-f0ca4d193e25","id":"c33e00f3-65f3-4ad0-93bd-d757a34e7c35","version":1,"state":{"actions":null},"templates":null,"tags":["tf_acc:1","tf_acc:2"],"name":"tf-provider-test-rule","description":"Test","specVersion":1,"operations":[{"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"ignorePreviousResults":false,"remediationSteps":"","labels":[]}},"operationName":"UpdateReferencedQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateReferencedQuestionRuleInstance":{"id":"c33e00f3-65f3-4ad0-93bd-d757a34e7c35","accountId":"j1","name":"tf-provider-test-rule","description":"Test","version":2,"specVersion":1,"latest":true,"deleted":false,"type":"QUESTION","notifyOnFailure":false,"triggerActionsOnNewEntitiesOnly":false,"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","latestAlertId":null,"latestAlertIsActive":null,"lastEvaluationEndOn":null,"lastEvaluationStartOn":null,"lastSuccessfulEvaluationEndOn":null,"lastFailedEvaluationEndOn":null,"updatedOn":1759281873504,"evaluationStep":null,"remediationSteps":null,"tags":["tf_acc:1","tf_acc:2"],"ignorePreviousResults":false,"resourceGroupId":null,"questionId":"1bd32cb7-7d37-4366-b0c2-f0ca4d193e25","questionName":null,"templates":null,"operations":[{"when":null,"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"7797e655-3a65-4280-bfd3-21ded57c4a9b"},{"type":"CREATE_ALERT","id":"00e94478-aaab-47e3-838a-98e74fb4da7e"}]}],"labels":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 822.003042ms
[...]
    - id: 11
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteRuleInstance ($id: ID!) {\n\tdeleteRuleInstance(id: $id) {\n\t\tid\n\t}\n}\n","variables":{"id":"c33e00f3-65f3-4ad0-93bd-d757a34e7c35"},"operationName":"DeleteRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteRuleInstance":{"id":"c33e00f3-65f3-4ad0-93bd-d757a34e7c35"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 324.516166ms
    - id: 12
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteQuestion ($id: ID!) {\n\tdeleteQuestion(id: $id) {\n\t\tid\n\t}\n}\n","variables":{"id":"1bd32cb7-7d37-4366-b0c2-f0ca4d193e25"},"operationName":"DeleteQuestion"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteQuestion":{"id":"1bd32cb7-7d37-4366-b0c2-f0ca4d193e25"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 385.924125ms
    - id: 13
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetQuestionRuleInstance ($id: ID!) {\n\tquestionRuleInstance(id: $id) {\n\t\tid\n\t\tname\n\t\tresourceGroupId\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tpollingInterval\n\t\tdeleted\n\t\ttype\n\t\ttemplates\n\t\tnotifyOnFailure\n\t\ttriggerActionsOnNewEntitiesOnly\n\t\tignorePreviousResults\n\t\tquestionId\n\t\tquestion {\n\t\t\tqueries {\n\t\t\t\tname\n\t\t\t\tquery\n\t\t\t\tversion\n\t\t\t\tincludeDeleted\n\t\t\t}\n\t\t}\n\t\toperations {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\toutputs\n\t\ttags\n\t\tlabels {\n\t\t\tlabelName\n\t\t\tlabelValue\n\t\t}\n\t}\n}\n","variables":{"id":"c33e00f3-65f3-4ad0-93bd-d757a34e7c35"},"operationName":"GetQuestionRuleInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Rule instance does not exist (failedOperation=getLatestPersistedRuleVersionById, attributeValues=[object Object])","path":["questionRuleInstance"],"extensions":{"code":"NOT_FOUND","serviceName":"rules","exception":{"message":"Rule instance does not exist (failedOperation=getLatestPersistedRuleVersionById, attributeValues=[object Object])","locations":[{"line":1,"column":50}],"path":["questionRuleInstance"],"stacktrace":["GraphQLError: Rule instance does not exist (failedOperation=getLatestPersistedRuleVersionById, attributeValues=[object Object])","    at eOo (/opt/jupiterone/app/server.js:1766:39261)","    at /opt/jupiterone/app/server.js:1766:36598","    at Array.map (<anonymous>)","    at a (/opt/jupiterone/app/server.js:1766:36591)","    at process.processTicksAndRejections (node:internal/process/task_queues:95:5)","    at async /opt/jupiterone/app/server.js:1766:35752","    at async qee (/opt/jupiterone/app/server.js:1766:33877)","    at async /opt/jupiterone/app/server.js:1766:31877","    at async /opt/jupiterone/app/server.js:1855:3815","    at async g (/opt/jupiterone/app/server.js:292:40606)"]}}}],"data":{"questionRuleInstance":null}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 200.475208ms
