---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateSmartClass ($input: CreateSmartClassInput!) {\n\tcreateSmartClass(input: $input) {\n\t\tid\n\t\ttagName\n\t\tdescription\n\t}\n}\n","variables":{"input":{"tagName":"TfProviderTagTest","description":"xyz"}},"operationName":"CreateSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createSmartClass":{"id":"db268834-80f4-42b7-953d-ffde1b8770f9","tagName":"TfProviderTagTest","description":"xyz"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.087211667s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateSmartClassQuery ($input: CreateSmartClassQueryInput!) {\n\tcreateSmartClassQuery(input: $input) {\n\t\tid\n\t\tquery\n\t\tsmartClassId\n\t\tdescription\n\t}\n}\n","variables":{"input":{"smartClassId":"db268834-80f4-42b7-953d-ffde1b8770f9","description":"find users","query":"FIND User"}},"operationName":"CreateSmartClassQuery"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createSmartClassQuery":{"id":"f656bdf2-da8a-4f89-9ec5-c4565aed641b","query":"FIND User","smartClassId":"db268834-80f4-42b7-953d-ffde1b8770f9","description":"find users"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 814.919833ms
    - id: 2
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetSmartClass ($smartClassId: ID!) {\n\tsmartClass(id: $smartClassId) {\n\t\tid\n\t\ttagName\n\t\tdescription\n\t\ttags {\n\t\t\tid\n\t\t\tname\n\t\t\ttype\n\t\t\tvalue\n\t\t}\n\t}\n}\n","variables":{"smartClassId":"db268834-80f4-42b7-953d-ffde1b8770f9"},"operationName":"GetSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"smartClass":{"id":"db268834-80f4-42b7-953d-ffde1b8770f9","tagName":"TfProviderTagTest","description":"xyz","tags":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 381.960917ms
    - id: 3
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetSmartClassQuery ($smartClassQueryId: ID!) {\n\tsmartClassQuery(id: $smartClassQueryId) {\n\t\tid\n\t\tquery\n\t\tsmartClassId\n\t\tdescription\n\t}\n}\n","variables":{"smartClassQueryId":"f656bdf2-da8a-4f89-9ec5-c4565aed641b"},"operationName":"GetSmartClassQuery"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"smartClassQuery":{"id":"f656bdf2-da8a-4f89-9ec5-c4565aed641b","query":"FIND User","smartClassId":"db268834-80f4-42b7-953d-ffde1b8770f9","description":"find users"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 374.910708ms
    - id: 4
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteSmartClassQuery ($smartClassQueryId: ID!) {\n\tdeleteSmartClassQuery(id: $smartClassQueryId) {\n\t\tsuccess\n\t}\n}\n","variables":{"smartClassQueryId":"f656bdf2-da8a-4f89-9ec5-c4565aed641b"},"operationName":"DeleteSmartClassQuery"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteSmartClassQuery":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 654.072959ms
    - id: 5
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteSmartClass ($smartClassId: ID!) {\n\tdeleteSmartClass(id: $smartClassId) {\n\t\tsuccess\n\t}\n}\n","variables":{"smartClassId":"db268834-80f4-42b7-953d-ffde1b8770f9"},"operationName":"DeleteSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteSmartClass":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 692.91325ms
