---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceFramework ($framework: CreateComplianceFrameworkInput!) {\n\tcreateComplianceFramework(input: $framework) {\n\t\tid\n\t}\n}\n","variables":{"framework":{"name":"Updated Framework Name","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[]}},"operationName":"CreateComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceFramework":{"id":"84223bea-b64f-49d7-9ee7-74a4e35d0c19"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.675555542s
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceFrameworkById ($frameworkId: ID!) {\n\tcomplianceFramework(input: {id:$frameworkId}) {\n\t\tid\n\t\tname\n\t\tversion\n\t\tframeworkType\n\t\twebLink\n\t\tscopeFilters\n\t\tsummaryConfig {\n\t\t\tshowPoliciesAndProcedures\n\t\t\tshowEvidence\n\t\t\tshowGapAnalysis\n\t\t\tshowAuditTracking\n\t\t}\n\t}\n}\n","variables":{"frameworkId":"84223bea-b64f-49d7-9ee7-74a4e35d0c19"},"operationName":"GetComplianceFrameworkById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFramework":{"id":"84223bea-b64f-49d7-9ee7-74a4e35d0c19","name":"Updated Framework Name","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[],"summaryConfig":{"showPoliciesAndProcedures":true,"showEvidence":true,"showGapAnalysis":true,"showAuditTracking":false}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 423.507125ms
[...]
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateComplianceFramework ($input: UpdateComplianceFrameworkInput!) {\n\tupdateComplianceFramework(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"id":"84223bea-b64f-49d7-9ee7-74a4e35d0c19","updates":{"name":"tf-provider-acc-test-framework","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[]}}},"operationName":"UpdateComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateComplianceFramework":{"id":"84223bea-b64f-49d7-9ee7-74a4e35d0c19"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.232787291s
[...]
    - id: 6
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateComplianceFramework ($input: UpdateComplianceFrameworkInput!) {\n\tupdateComplianceFramework(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"id":"84223bea-b64f-49d7-9ee7-74a4e35d0c19","updates":{"name":"tf-provider-acc-test-framework","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[{"env":"prod"}]}}},"operationName":"UpdateComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateComplianceFramework":{"id":"84223bea-b64f-49d7-9ee7-74a4e35d0c19"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.786384708s
[...]
    - id: 17
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceFramework ($input: DeleteComplianceFrameworkInput!) {\n\tdeleteComplianceFramework(input: $input)\n}\n","variables":{"input":{"id":"84223bea-b64f-49d7-9ee7-74a4e35d0c19"}},"operationName":"DeleteComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceFramework":"84223bea-b64f-49d7-9ee7-74a4e35d0c19"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.183127792s
