---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceFramework ($framework: CreateComplianceFrameworkInput!) {\n\tcreateComplianceFramework(input: $framework) {\n\t\tid\n\t}\n}\n","variables":{"framework":{"name":"tf-provider-acc-test-framework","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[]}},"operationName":"CreateComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceFramework":{"id":"b4cf4dfa-4d56-4c4c-9011-d9ecc26d90ab"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 868.110583ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceGroup ($input: CreateComplianceGroupInput!) {\n\tcreateComplianceGroup(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc test Group","description":"","displayCategory":"","frameworkId":"b4cf4dfa-4d56-4c4c-9011-d9ecc26d90ab","webLink":""}},"operationName":"CreateComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceGroup":{"id":"a42b12b5-8ce8-4bcd-b281-f14c8da73424"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 902.600208ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceFrameworkById ($frameworkId: ID!) {\n\tcomplianceFramework(input: {id:$frameworkId}) {\n\t\tid\n\t\tname\n\t\tversion\n\t\tframeworkType\n\t\twebLink\n\t\tscopeFilters\n\t\tsummaryConfig {\n\t\t\tshowPoliciesAndProcedures\n\t\t\tshowEvidence\n\t\t\tshowGapAnalysis\n\t\t\tshowAuditTracking\n\t\t}\n\t}\n}\n","variables":{"frameworkId":"b4cf4dfa-4d56-4c4c-9011-d9ecc26d90ab"},"operationName":"GetComplianceFrameworkById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFramework":{"id":"b4cf4dfa-4d56-4c4c-9011-d9ecc26d90ab","name":"tf-provider-acc-test-framework","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[],"summaryConfig":{"showPoliciesAndProcedures":true,"showEvidence":true,"showGapAnalysis":true,"showAuditTracking":false}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 432.513042ms
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceGroups ($frameworkId: ID!) {\n\tcomplianceFramework(input: {id:$frameworkId}) {\n\t\tgroups {\n\t\t\tid\n\t\t\tframeworkId\n\t\t\tname\n\t\t\tdescription\n\t\t\tdisplayCategory\n\t\t\twebLink\n\t\t}\n\t}\n}\n","variables":{"frameworkId":"b4cf4dfa-4d56-4c4c-9011-d9ecc26d90ab"},"operationName":"GetComplianceGroups"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFramework":{"groups":[{"id":"a42b12b5-8ce8-4bcd-b281-f14c8da73424","frameworkId":"b4cf4dfa-4d56-4c4c-9011-d9ecc26d90ab","name":"tf-provider-acc test Group","description":"","displayCategory":"","webLink":null}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 709.341ms
[...]
    - id: 6
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateComplianceGroup ($input: UpdateComplianceGroupInput!) {\n\tupdateComplianceGroup(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"id":"a42b12b5-8ce8-4bcd-b281-f14c8da73424","updates":{"name":"tf-provider-acc test Group","description":"tf-provider acceptance test group","displayCategory":"first","frameworkId":"b4cf4dfa-4d56-4c4c-9011-d9ecc26d90ab","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints"}}},"operationName":"UpdateComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateComplianceGroup":{"id":"a42b12b5-8ce8-4bcd-b281-f14c8da73424"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 791.685458ms
[...]
    - id: 19
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceGroup ($id: ID!) {\n\tdeleteComplianceGroup(input: {id:$id})\n}\n","variables":{"id":"a42b12b5-8ce8-4bcd-b281-f14c8da73424"},"operationName":"DeleteComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceGroup":"a42b12b5-8ce8-4bcd-b281-f14c8da73424"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 427.466917ms
    - id: 20
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceFramework ($input: DeleteComplianceFrameworkInput!) {\n\tdeleteComplianceFramework(input: $input)\n}\n","variables":{"input":{"id":"b4cf4dfa-4d56-4c4c-9011-d9ecc26d90ab"}},"operationName":"DeleteComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceFramework":"b4cf4dfa-4d56-4c4c-9011-d9ecc26d90ab"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 849.390666ms
