---
version: 1
interactions:
- request:
    body: |
      {"query":"\n\t\t\tmutation CreateQuestionRuleInstance ($instance: CreateInlineQuestionRuleInstanceInput!) {\n\t\t\t\tcreateQuestionRuleInstance: createInlineQuestionRuleInstance (\n\t\t\t\t\tinstance: $instance\n\t\t\t\t) {\n\t\t\t\t\tid\n\t\t\t\t\tname\n\t\t\t\t\tdescription\n\t\t\t\t\tversion\n\t\t\t\t\tspecVersion\n\t\t\t\t\tlatest\n\t\t\t\t\tdeleted\n\t\t\t\t\taccountId\n\t\t\t\t\ttype\n\t\t\t\t\tpollingInterval\n\t\t\t\t\ttemplates\n\t\t\t\t\tquestion {\n\t\t\t\t\t\tqueries {\n\t\t\t\t\t\t\tname\n\t\t\t\t\t\t\tquery\n\t\t\t\t\t\t\tversion\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t\toperations {\n\t\t\t\t\t\twhen\n\t\t\t\t\t\tactions\n\t\t\t\t\t}\n\t\t\t\t\toutputs\n\t\t\t\t\ttags\n\t\t\t\t}\n\t\t\t}\n\t\t","variables":{"instance":{"name":"tf-acc-test-5278254352274409628","description":"Test","specVersion":1,"pollingInterval":"ONE_WEEK","templates":null,"question":{"queries":[{"name":"query0","query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}]},"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"tags":["tag1","tag2"]}}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"createQuestionRuleInstance":{"id":"7060d853-bc73-4865-90a1-adab066f8362","name":"tf-acc-test-5278254352274409628","description":"Test","version":1,"specVersion":1,"latest":true,"deleted":false,"accountId":"1316127e-baf6-4c4a-bc01-4fbe9ddd3415","type":"QUESTION","pollingInterval":"ONE_WEEK","templates":null,"question":{"queries":[{"name":"query0","query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}]},"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"3fb15a9d-9fe4-4d85-a670-6587cbb76f7c"},{"type":"CREATE_ALERT","id":"4901c436-54e4-4dcd-9c28-b95a81db8406"}]}],"outputs":["queries.query0.total","alertLevel"],"tags":["tag1","tag2"]}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"query":"\n\t\tquery GetQuestionRuleInstance($id: ID!) {\n\t\t\tquestionRuleInstance (id: $id) {\n\t\t\t\tid\n\t\t\t\tname\n\t\t\t\tdescription\n\t\t\t\tversion\n\t\t\t\tspecVersion\n\t\t\t\tlatest\n\t\t\t\tpollingInterval\n\t\t\t\tdeleted\n\t\t\t\taccountId\n\t\t\t\ttype\n\t\t\t\ttemplates\n\t\t\t\tquestion {\n\t\t\t\t\tqueries {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tquery\n\t\t\t\t\t\tversion\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\toperations {\n\t\t\t\t\twhen\n\t\t\t\t\tactions\n\t\t\t\t}\n\t\t\t\toutputs\n\t\t\t\ttags\n\t\t\t}\n\t\t}\n\t","variables":{"id":"7060d853-bc73-4865-90a1-adab066f8362"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"questionRuleInstance":{"id":"7060d853-bc73-4865-90a1-adab066f8362","name":"tf-acc-test-5278254352274409628","description":"Test","version":1,"specVersion":1,"latest":true,"pollingInterval":"ONE_WEEK","deleted":false,"accountId":"1316127e-baf6-4c4a-bc01-4fbe9ddd3415","type":"QUESTION","templates":null,"question":{"queries":[{"name":"query0","query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}]},"operations":[{"when":{"type":"FILTER","condition":"{{queries.query0.total != 0}}","specVersion":1},"actions":[{"targetValue":"HIGH","id":"3fb15a9d-9fe4-4d85-a670-6587cbb76f7c","type":"SET_PROPERTY","targetProperty":"alertLevel"},{"type":"CREATE_ALERT","id":"4901c436-54e4-4dcd-9c28-b95a81db8406"}]}],"outputs":["queries.query0.total","alertLevel"],"tags":["tag1","tag2"]}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"query":"\n\t\tmutation DeleteRuleInstance ($id: ID!) {\n\t\t\tdeleteRuleInstance (id: $id) {\n\t\t\t\tid\n\t\t\t}\n\t      }\n\t","variables":{"id":"7060d853-bc73-4865-90a1-adab066f8362"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"deleteRuleInstance":{"id":"7060d853-bc73-4865-90a1-adab066f8362"}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"query":"\n\t\tquery GetQuestionRuleInstance($id: ID!) {\n\t\t\tquestionRuleInstance (id: $id) {\n\t\t\t\tid\n\t\t\t\tname\n\t\t\t\tdescription\n\t\t\t\tversion\n\t\t\t\tspecVersion\n\t\t\t\tlatest\n\t\t\t\tpollingInterval\n\t\t\t\tdeleted\n\t\t\t\taccountId\n\t\t\t\ttype\n\t\t\t\ttemplates\n\t\t\t\tquestion {\n\t\t\t\t\tqueries {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tquery\n\t\t\t\t\t\tversion\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\toperations {\n\t\t\t\t\twhen\n\t\t\t\t\tactions\n\t\t\t\t}\n\t\t\t\toutputs\n\t\t\t\ttags\n\t\t\t}\n\t\t}\n\t","variables":{"id":"7060d853-bc73-4865-90a1-adab066f8362"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"errors":[{"message":"Could not fetch rule instance. Rule instance does not exist.","extensions":{"code":"INTERNAL_SERVER_ERROR","serviceName":"rules","exception":{"stacktrace":["Error: Could not fetch rule instance. Rule instance does not exist.","    at getQuestionRuleInstance (/var/task/index.js:1069318:13)","    at runMicrotasks (<anonymous>)","    at processTicksAndRejections (internal/process/task_queues.js:95:5)"],"message":"Could not fetch rule instance. Rule instance does not exist.","locations":[{"line":1,"column":50}],"path":["questionRuleInstance"]}}}],"data":{"questionRuleInstance":null}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
