---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateSmartClass ($input: CreateSmartClassInput!) {\n\tcreateSmartClass(input: $input) {\n\t\tid\n\t\ttagName\n\t\tdescription\n\t}\n}\n","variables":{"input":{"tagName":"TfProviderTestSmartClass","description":"description of TfProviderTestSmartClass"}},"operationName":"CreateSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createSmartClass":{"id":"ec6c835c-d669-41f9-9cb7-790eb29b7856","tagName":"TfProviderTestSmartClass","description":"description of TfProviderTestSmartClass"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.307006708s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetSmartClass ($smartClassId: ID!) {\n\tsmartClass(id: $smartClassId) {\n\t\tid\n\t\ttagName\n\t\tdescription\n\t\ttags {\n\t\t\tid\n\t\t\tname\n\t\t\ttype\n\t\t\tvalue\n\t\t}\n\t}\n}\n","variables":{"smartClassId":"ec6c835c-d669-41f9-9cb7-790eb29b7856"},"operationName":"GetSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"smartClass":{"id":"ec6c835c-d669-41f9-9cb7-790eb29b7856","tagName":"TfProviderTestSmartClass","description":"description of TfProviderTestSmartClass","tags":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 512.516875ms
    - id: 2
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteSmartClass ($smartClassId: ID!) {\n\tdeleteSmartClass(id: $smartClassId) {\n\t\tsuccess\n\t}\n}\n","variables":{"smartClassId":"ec6c835c-d669-41f9-9cb7-790eb29b7856"},"operationName":"DeleteSmartClass"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteSmartClass":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 724.513458ms
