---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateUserGroup ($name: String!, $description: String, $queryPolicy: [JSON!], $abacPermissions: [String!]) {\n\tcreateIamGroup(name: $name, description: $description, queryPolicy: $queryPolicy, abacPermissions: $abacPermissions) {\n\t\tid\n\t}\n}\n","variables":{"name":"tf-provider-test-user-group","description":"description of tf-provider-test-user-group","queryPolicy":[{"_class":["User"]}],"abacPermissions":["accessInsights","readGraph"]},"operationName":"CreateUserGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createIamGroup":{"id":"53af6660-189f-4037-a9ec-2300a2dec0cb"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 373.120542ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetUserGroup ($id: String!) {\n\tiamGetGroup(group: $id) {\n\t\tid\n\t\tgroupName\n\t\tgroupDescription\n\t\tgroupQueryPolicy {\n\t\t\tstatement\n\t\t}\n\t\tgroupAbacPermission {\n\t\t\tstatement\n\t\t}\n\t}\n}\n","variables":{"id":"53af6660-189f-4037-a9ec-2300a2dec0cb"},"operationName":"GetUserGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"iamGetGroup":{"id":"53af6660-189f-4037-a9ec-2300a2dec0cb","groupName":"tf-provider-test-user-group","groupDescription":"description of tf-provider-test-user-group","groupQueryPolicy":{"statement":[{"_class":["User"]}]},"groupAbacPermission":{"statement":["readGraph","accessInsights"]}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 224.319958ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteUserGroup ($name: String!) {\n\tdeleteIamGroup(name: $name) {\n\t\tsuccess\n\t}\n}\n","variables":{"name":"tf-provider-test-user-group"},"operationName":"DeleteUserGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteIamGroup":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 391.834791ms
