---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateDashboard ($input: CreateInsightsDashboardInput!) {\n\tcreateDashboard(input: $input) {\n\t\tname\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"TF Test Dashboard 2","type":"Account","userIds":null,"groupIds":null,"widgets":null,"published":false,"publishedToUserIds":null,"publishedToGroupIds":null,"ttd":0}},"operationName":"CreateDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createDashboard":{"name":"TF Test Dashboard 2","id":"054131e9-1b04-42d8-a5a3-56a4d8d5795a"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 231.716708ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateDashboardParameter ($input: CreateDashboardParameterInput!) {\n\tcreateDashboardParameter(input: $input) {\n\t\tdashboardId\n\t\taccountId\n\t\tid\n\t\tlabel\n\t\tname\n\t\toptions\n\t\tvalueType\n\t\ttype\n\t\tdefault\n\t\tdisableCustomInput\n\t\trequireValue\n\t}\n}\n","variables":{"input":{"dashboardId":"054131e9-1b04-42d8-a5a3-56a4d8d5795a","label":"Test Parameter","name":"testParameter","valueType":"string","options":null,"type":"QUERY_VARIABLE","default":"","disableCustomInput":false,"requireValue":true}},"operationName":"CreateDashboardParameter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createDashboardParameter":{"dashboardId":"054131e9-1b04-42d8-a5a3-56a4d8d5795a","accountId":"j1","id":"71fd2c2b-2b27-4577-a602-b295e5c9a904","label":"Test Parameter","name":"testParameter","options":null,"valueType":"string","type":"QUERY_VARIABLE","default":null,"disableCustomInput":false,"requireValue":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 224.501125ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery DashboardParameter ($id: ID!) {\n\tdashboardParameter(id: $id) {\n\t\tdashboardId\n\t\taccountId\n\t\tid\n\t\tlabel\n\t\tname\n\t\toptions\n\t\tvalueType\n\t\ttype\n\t\tdefault\n\t\tdisableCustomInput\n\t\trequireValue\n\t}\n}\n","variables":{"id":"71fd2c2b-2b27-4577-a602-b295e5c9a904"},"operationName":"DashboardParameter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"dashboardParameter":{"dashboardId":"054131e9-1b04-42d8-a5a3-56a4d8d5795a","accountId":"j1","id":"71fd2c2b-2b27-4577-a602-b295e5c9a904","label":"Test Parameter","name":"testParameter","options":null,"valueType":"string","type":"QUERY_VARIABLE","default":null,"disableCustomInput":false,"requireValue":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 186.93875ms
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetDashboard ($dashboardId: String!) {\n\tgetDashboard(dashboardId: $dashboardId) {\n\t\tid\n\t\tname\n\t\tresourceGroupId\n\t}\n}\n","variables":{"dashboardId":"054131e9-1b04-42d8-a5a3-56a4d8d5795a"},"operationName":"GetDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"getDashboard":{"id":"054131e9-1b04-42d8-a5a3-56a4d8d5795a","name":"TF Test Dashboard 2","resourceGroupId":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 180.696958ms
[...]
    - id: 10
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteDashboardParameter ($id: ID!) {\n\tdeleteDashboardParameter(id: $id) {\n\t\tsuccess\n\t}\n}\n","variables":{"id":"71fd2c2b-2b27-4577-a602-b295e5c9a904"},"operationName":"DeleteDashboardParameter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteDashboardParameter":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 223.68875ms
    - id: 11
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteDashboard ($dashboardId: String!) {\n\tdeleteDashboard(dashboardId: $dashboardId) {\n\t\tsuccess\n\t}\n}\n","variables":{"dashboardId":"054131e9-1b04-42d8-a5a3-56a4d8d5795a"},"operationName":"DeleteDashboard"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteDashboard":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 214.443917ms
    - id: 12
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery DashboardParameter ($id: ID!) {\n\tdashboardParameter(id: $id) {\n\t\tdashboardId\n\t\taccountId\n\t\tid\n\t\tlabel\n\t\tname\n\t\toptions\n\t\tvalueType\n\t\ttype\n\t\tdefault\n\t\tdisableCustomInput\n\t\trequireValue\n\t}\n}\n","variables":{"id":"71fd2c2b-2b27-4577-a602-b295e5c9a904"},"operationName":"DashboardParameter"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Dashboard parameter with id 71fd2c2b-2b27-4577-a602-b295e5c9a904 not found","path":["dashboardParameter"],"extensions":{"code":"NOT_FOUND","serviceName":"dashboard","exception":{"message":"Dashboard parameter with id 71fd2c2b-2b27-4577-a602-b295e5c9a904 not found","locations":[{"line":1,"column":49}],"path":["dashboardParameter"],"stacktrace":["GraphQLError: Dashboard parameter with id 71fd2c2b-2b27-4577-a602-b295e5c9a904 not found","    at eOo (/opt/jupiterone/app/server.js:1766:39261)","    at /opt/jupiterone/app/server.js:1766:36598","    at Array.map (<anonymous>)","    at a (/opt/jupiterone/app/server.js:1766:36591)","    at process.processTicksAndRejections (node:internal/process/task_queues:95:5)","    at async /opt/jupiterone/app/server.js:1766:35752","    at async qee (/opt/jupiterone/app/server.js:1766:33877)","    at async /opt/jupiterone/app/server.js:1766:31877","    at async /opt/jupiterone/app/server.js:1855:3815","    at async g (/opt/jupiterone/app/server.js:292:40606)"]}}}],"data":null}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 188.992ms
