---
version: 1
interactions:
- request:
    body: |
      {"query":"\n\t\tmutation CreateQuestionRuleInstance ($instance: CreateQuestionRuleInstanceInput!) {\n\t\t\tcreateQuestionRuleInstance (\n\t\t\t\tinstance: $instance\n\t\t\t) {\n\t\t\t\tid\n\t\t\t\tname\n\t\t\t\tdescription\n\t\t\t\tversion\n\t\t\t\tspecVersion\n\t\t\t\tlatest\n\t\t\t\tdeleted\n\t\t\t\taccountId\n\t\t\t\ttype\n\t\t\t\tpollingInterval\n\t\t\t\ttemplates\n\t\t\t\tquestion {\n\t\t\t\t\tqueries {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tquery\n\t\t\t\t\t\tversion\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\toperations {\n\t\t\t\t\twhen\n\t\t\t\t\tactions\n\t\t\t\t}\n\t\t\t\toutputs\n\t\t\t}\n\t\t}\n\t","variables":{"instance":{"name":"tf-acc-test-3016486897996928385","description":"Test","specVersion":1,"pollingInterval":"ONE_DAY","outputs":["queries.query0.total","alertLevel"],"question":{"queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1","name":"query0"}]},"templates":null,"operations":[{"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}],"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"}}]}}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"createQuestionRuleInstance":{"id":"ec494bf0-9165-4463-b751-ec714a01539e","name":"tf-acc-test-3016486897996928385","description":"Test","version":1,"specVersion":1,"latest":true,"deleted":false,"accountId":"j1dev","type":"QUESTION","pollingInterval":"ONE_DAY","templates":null,"question":{"queries":[{"name":"query0","query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}]},"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"6ee204d1-c1c1-4800-a233-3a77f0f4cb92"},{"type":"CREATE_ALERT","id":"c93ebb58-8da5-4426-8b50-d73bac95964e"}]}],"outputs":["queries.query0.total","alertLevel"]}}}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "823"
      X-Amzn-Requestid:
      - ea2ab7f3-08e5-4d30-b8eb-d674996d5b04
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"query":"\n\t\tquery GetQuestionRuleInstance($id: ID!) {\n\t\t\tquestionRuleInstance (id: $id) {\n\t\t\t\tid\n\t\t\t\tname\n\t\t\t\tdescription\n\t\t\t\tversion\n\t\t\t\tspecVersion\n\t\t\t\tlatest\n\t\t\t\tpollingInterval\n\t\t\t\tdeleted\n\t\t\t\taccountId\n\t\t\t\ttype\n\t\t\t\ttemplates\n\t\t\t\tquestion {\n\t\t\t\t\tqueries {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tquery\n\t\t\t\t\t\tversion\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\toperations {\n\t\t\t\t\twhen\n\t\t\t\t\tactions\n\t\t\t\t}\n\t\t\t\toutputs\n\t\t\t}\n\t\t}\n\t","variables":{"id":"ec494bf0-9165-4463-b751-ec714a01539e"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"questionRuleInstance":{"id":"ec494bf0-9165-4463-b751-ec714a01539e","name":"tf-acc-test-3016486897996928385","description":"Test","version":1,"specVersion":1,"latest":true,"pollingInterval":"ONE_DAY","deleted":false,"accountId":"j1dev","type":"QUESTION","templates":null,"question":{"queries":[{"name":"query0","query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}]},"operations":[{"when":{"type":"FILTER","condition":"{{queries.query0.total != 0}}","specVersion":1},"actions":[{"targetValue":"HIGH","id":"6ee204d1-c1c1-4800-a233-3a77f0f4cb92","type":"SET_PROPERTY","targetProperty":"alertLevel"},{"type":"CREATE_ALERT","id":"c93ebb58-8da5-4426-8b50-d73bac95964e"}]}],"outputs":["queries.query0.total","alertLevel"]}}}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "817"
      X-Amzn-Requestid:
      - 87899137-d5a6-4ec9-a59d-20bc4b6fb943
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"query":"\n\t\tmutation UpdateQuestionRuleInstance ($instance: UpdateQuestionRuleInstanceInput!) {\n\t\t\tupdateQuestionRuleInstance (\n\t\t\t\tinstance: $instance\n\t\t\t) {\n\t\t\t\tid\n\t\t\t\tname\n\t\t\t\tdescription\n\t\t\t\tversion\n\t\t\t\tspecVersion\n\t\t\t\tlatest\n\t\t\t\tdeleted\n\t\t\t\taccountId\n\t\t\t\ttype\n\t\t\t\tpollingInterval\n\t\t\t\ttemplates\n\t\t\t\tquestion {\n\t\t\t\t\tqueries {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tquery\n\t\t\t\t\t\tversion\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\toperations {\n\t\t\t\t\twhen\n\t\t\t\t\tactions\n\t\t\t\t}\n\t\t\t\toutputs\n\t\t\t}\n\t\t}\n\t","variables":{"instance":{"name":"tf-acc-test-3016486897996928385","description":"Test","specVersion":1,"pollingInterval":"ONE_DAY","outputs":["queries.query0.total","alertLevel"],"question":{"queries":[{"query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1","name":"query0"}]},"templates":null,"id":"ec494bf0-9165-4463-b751-ec714a01539e","version":1,"operations":[{"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}]}]}}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"updateQuestionRuleInstance":{"id":"ec494bf0-9165-4463-b751-ec714a01539e","name":"tf-acc-test-3016486897996928385","description":"Test","version":2,"specVersion":1,"latest":true,"deleted":false,"accountId":"j1dev","type":"QUESTION","pollingInterval":"ONE_DAY","templates":null,"question":{"queries":[{"name":"query0","query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1"}]},"operations":[{"when":null,"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"a8985631-4693-4f60-a29e-55d07be83668"},{"type":"CREATE_ALERT","id":"4ba61239-d700-4fa9-a1ad-358955704558"}]}],"outputs":["queries.query0.total","alertLevel"]}}}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "750"
      X-Amzn-Requestid:
      - 400aed69-8e2c-48da-92d2-7a5ed71fecd7
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"query":"\n\t\tmutation DeleteRuleInstance ($id: ID!) {\n\t\t\tdeleteRuleInstance (id: $id) {\n\t\t\t\tid\n\t\t\t}\n\t      }\n\t","variables":{"id":"ec494bf0-9165-4463-b751-ec714a01539e"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"deleteRuleInstance":{"id":"ec494bf0-9165-4463-b751-ec714a01539e"}}}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "78"
      X-Amzn-Requestid:
      - 2ff06315-095d-4879-8e8c-6ff9d92fb181
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"query":"\n\t\tquery GetQuestionRuleInstance($id: ID!) {\n\t\t\tquestionRuleInstance (id: $id) {\n\t\t\t\tid\n\t\t\t\tname\n\t\t\t\tdescription\n\t\t\t\tversion\n\t\t\t\tspecVersion\n\t\t\t\tlatest\n\t\t\t\tpollingInterval\n\t\t\t\tdeleted\n\t\t\t\taccountId\n\t\t\t\ttype\n\t\t\t\ttemplates\n\t\t\t\tquestion {\n\t\t\t\t\tqueries {\n\t\t\t\t\t\tname\n\t\t\t\t\t\tquery\n\t\t\t\t\t\tversion\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\toperations {\n\t\t\t\t\twhen\n\t\t\t\t\tactions\n\t\t\t\t}\n\t\t\t\toutputs\n\t\t\t}\n\t\t}\n\t","variables":{"id":"ec494bf0-9165-4463-b751-ec714a01539e"}}
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"errors":[{"code":"INTERNAL_SERVER_ERROR","message":"Could not fetch rule instance. Rule instance does not exist.","locations":[{"line":2,"column":3}],"path":["questionRuleInstance"]}],"data":{"questionRuleInstance":null}}
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Content-Length:
      - "224"
      X-Amzn-Requestid:
      - ded07460-0fb7-4d8d-ad32-a31f72293a3d
    status: 200 OK
    code: 200
    duration: ""
