---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateFramework ($input: CreateFrameworkInput!) {\n\tcreateFramework(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\towner\n\t}\n}\n","variables":{"input":{"title":"tf-provider-acc-test-control-framework","description":"acceptance test control framework","resourceGroupId":"","owner":"test-owner@jupiterone.com"}},"operationName":"CreateFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createFramework":{"id":"ccm_f_J1_725e387b-56ec-4b97-ad2c-2697d46c5b0b","name":"tf-provider-acc-test-control-framework","description":"acceptance test control framework","resourceGroupId":"","owner":"test-owner@jupiterone.com"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.236579958s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetFrameworkById ($id: ID!) {\n\tcontrolFramework(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\towner\n\t\tsource\n\t}\n}\n","variables":{"id":"ccm_f_J1_725e387b-56ec-4b97-ad2c-2697d46c5b0b"},"operationName":"GetFrameworkById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"controlFramework":{"id":"ccm_f_J1_725e387b-56ec-4b97-ad2c-2697d46c5b0b","name":"tf-provider-acc-test-control-framework","description":"acceptance test control framework","resourceGroupId":"","owner":"test-owner@jupiterone.com","source":"J1"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 701.993125ms
[...]
    - id: 4
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation UpdateFramework ($input: UpdateFrameworkInput!) {\n\tupdateFramework(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\towner\n\t}\n}\n","variables":{"input":{"frameworkId":"ccm_f_J1_725e387b-56ec-4b97-ad2c-2697d46c5b0b","name":"tf-provider-acc-test updated control framework","description":"acceptance test control framework","owner":"test-owner@jupiterone.com"}},"operationName":"UpdateFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateFramework":{"id":"ccm_f_J1_725e387b-56ec-4b97-ad2c-2697d46c5b0b","name":"tf-provider-acc-test updated control framework","description":"acceptance test control framework","resourceGroupId":"","owner":"test-owner@jupiterone.com"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 872.453834ms
[...]
    - id: 7
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteFramework ($input: DeleteFrameworkInput!) {\n\tdeleteFramework(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_f_J1_725e387b-56ec-4b97-ad2c-2697d46c5b0b"}},"operationName":"DeleteFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteFramework":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 752.016208ms
[...]
    - id: 10
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetFrameworkById ($id: ID!) {\n\tcontrolFramework(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\towner\n\t\tsource\n\t}\n}\n","variables":{"id":"ccm_f_J1_725e387b-56ec-4b97-ad2c-2697d46c5b0b"},"operationName":"GetFrameworkById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Framework not found","path":["controlFramework"],"extensions":{"code":"NOT_FOUND","serviceName":"apps-service","exception":{"message":"Framework not found"}}}],"data":null}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 777.790083ms
