---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceFramework ($framework: CreateComplianceFrameworkInput!) {\n\tcreateComplianceFramework(input: $framework) {\n\t\tid\n\t}\n}\n","variables":{"framework":{"name":"tf-provider-acc-test-framework","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[]}},"operationName":"CreateComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceFramework":{"id":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 817.921583ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceGroup ($input: CreateComplianceGroupInput!) {\n\tcreateComplianceGroup(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc test FrameworkItem","description":"tf-provider acceptance test group","displayCategory":"first","frameworkId":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints"}},"operationName":"CreateComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceGroup":{"id":"a66063a1-f26a-4f18-bec5-a1590c45fcad"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.061345292s
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceFrameworkItem ($input: CreateComplianceFrameworkItemInput!) {\n\tcreateComplianceFrameworkItem(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc test FrameworkItem","description":"","displayCategory":"","ref":"test-requirement-1","frameworkId":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324","groupId":"a66063a1-f26a-4f18-bec5-a1590c45fcad","webLink":""}},"operationName":"CreateComplianceFrameworkItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceFrameworkItem":{"id":"8dfb5690-239f-4bcb-a56d-a575ad2a9eb6"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 929.972584ms
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceFrameworkById ($frameworkId: ID!) {\n\tcomplianceFramework(input: {id:$frameworkId}) {\n\t\tid\n\t\tname\n\t\tversion\n\t\tframeworkType\n\t\twebLink\n\t\tscopeFilters\n\t\tsummaryConfig {\n\t\t\tshowPoliciesAndProcedures\n\t\t\tshowEvidence\n\t\t\tshowGapAnalysis\n\t\t\tshowAuditTracking\n\t\t}\n\t}\n}\n","variables":{"frameworkId":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324"},"operationName":"GetComplianceFrameworkById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFramework":{"id":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324","name":"tf-provider-acc-test-framework","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[],"summaryConfig":{"showPoliciesAndProcedures":true,"showEvidence":true,"showGapAnalysis":true,"showAuditTracking":false}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 424.663209ms
    - id: 4
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceGroups ($frameworkId: ID!) {\n\tcomplianceFramework(input: {id:$frameworkId}) {\n\t\tgroups {\n\t\t\tid\n\t\t\tframeworkId\n\t\t\tname\n\t\t\tdescription\n\t\t\tdisplayCategory\n\t\t\twebLink\n\t\t}\n\t}\n}\n","variables":{"frameworkId":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324"},"operationName":"GetComplianceGroups"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFramework":{"groups":[{"id":"a66063a1-f26a-4f18-bec5-a1590c45fcad","frameworkId":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324","name":"tf-provider-acc test FrameworkItem","description":"tf-provider acceptance test group","displayCategory":"first","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints"}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 679.785542ms
    - id: 5
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceFrameworkItemById ($id: ID!) {\n\tcomplianceFrameworkItem(input: {id:$id}) {\n\t\tname\n\t\tdescription\n\t\tframeworkId\n\t\tgroupId\n\t\tdisplayCategory\n\t\tref\n\t\twebLink\n\t}\n}\n","variables":{"id":"8dfb5690-239f-4bcb-a56d-a575ad2a9eb6"},"operationName":"GetComplianceFrameworkItemById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFrameworkItem":{"name":"tf-provider-acc test FrameworkItem","description":"","frameworkId":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324","groupId":"a66063a1-f26a-4f18-bec5-a1590c45fcad","displayCategory":"","ref":"test-requirement-1","webLink":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 638.904458ms
[...]
    - id: 9
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateComplianceFrameworkItem ($input: UpdateComplianceFrameworkItemInput!) {\n\tupdateComplianceFrameworkItem(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"id":"8dfb5690-239f-4bcb-a56d-a575ad2a9eb6","updates":{"name":"tf-provider-acc test FrameworkItem","description":"tf-provider acceptance test framework item","displayCategory":"second","groupId":"a66063a1-f26a-4f18-bec5-a1590c45fcad","ref":"test-requirement-1","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints"}}},"operationName":"UpdateComplianceFrameworkItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateComplianceFrameworkItem":{"id":"8dfb5690-239f-4bcb-a56d-a575ad2a9eb6"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 753.711417ms
[...]
    - id: 27
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceFrameworkItem ($id: ID!) {\n\tdeleteComplianceFrameworkItem(input: {id:$id})\n}\n","variables":{"id":"8dfb5690-239f-4bcb-a56d-a575ad2a9eb6"},"operationName":"DeleteComplianceFrameworkItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceFrameworkItem":"8dfb5690-239f-4bcb-a56d-a575ad2a9eb6"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 444.826375ms
    - id: 28
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceGroup ($id: ID!) {\n\tdeleteComplianceGroup(input: {id:$id})\n}\n","variables":{"id":"a66063a1-f26a-4f18-bec5-a1590c45fcad"},"operationName":"DeleteComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceGroup":"a66063a1-f26a-4f18-bec5-a1590c45fcad"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 363.009584ms
    - id: 29
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceFramework ($input: DeleteComplianceFrameworkInput!) {\n\tdeleteComplianceFramework(input: $input)\n}\n","variables":{"input":{"id":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324"}},"operationName":"DeleteComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceFramework":"eb9a1965-5a94-4ec1-aa72-e6a0a96c5324"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 713.998292ms
