---
version: 1
interactions:
- request:
    body: '{"query":"\nmutation CreateInlineQuestionRuleInstance ($instance: CreateInlineQuestionRuleInstanceInput!)
      {\n\tcreateQuestionRuleInstance: createInlineQuestionRuleInstance(instance:
      $instance) {\n\t\tid\n\t\tversion\n\t\tspecVersion\n\t\tquestion {\n\t\t\tqueries
      {\n\t\t\t\tname\n\t\t\t\tquery\n\t\t\t\tversion\n\t\t\t\tincludeDeleted\n\t\t\t}\n\t\t}\n\t\toperations
      {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t}\n}\n","variables":{"instance":{"question":{"queries":[{"query":"Find
      DataStore with classification=(''critical'' or ''sensitive'' or ''confidential''
      or ''restricted'') and encrypted!=true","name":"query0","version":"v1","includeDeleted":false}]},"templates":null,"tags":["tf_acc:1","tf_acc:2"],"name":"tf-provider-test-rule","description":"Test","specVersion":1,"operations":[{"when":{"condition":"{{queries.query0.total
      != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","notifyOnFailure":false}},"operationName":"CreateInlineQuestionRuleInstance"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"createQuestionRuleInstance":{"id":"ceffd0cf-49c7-4832-9333-a32d51ccbbff","version":1,"specVersion":1,"question":{"queries":[{"name":"query0","query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1","includeDeleted":false}]},"operations":[{"when":{"condition":"{{queries.query0.total != 0}}","specVersion":1,"type":"FILTER"},"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"1f6a7cee-804d-4807-93f8-47638c16a721"},{"type":"CREATE_ALERT","id":"ce9747c0-01f0-4ada-a3d0-7de5d56369ea"}]}]}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"query":"\nquery GetQuestionRuleInstance ($id: ID!) {\n\tquestionRuleInstance(id:
      $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tpollingInterval\n\t\tdeleted\n\t\ttype\n\t\ttemplates\n\t\tnotifyOnFailure\n\t\tquestionId\n\t\tquestion
      {\n\t\t\tqueries {\n\t\t\t\tname\n\t\t\t\tquery\n\t\t\t\tversion\n\t\t\t\tincludeDeleted\n\t\t\t}\n\t\t}\n\t\toperations
      {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\toutputs\n\t\ttags\n\t}\n}\n","variables":{"id":"ceffd0cf-49c7-4832-9333-a32d51ccbbff"},"operationName":"GetQuestionRuleInstance"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"questionRuleInstance":{"id":"ceffd0cf-49c7-4832-9333-a32d51ccbbff","name":"tf-provider-test-rule","description":"Test","version":1,"specVersion":1,"latest":true,"pollingInterval":"ONE_WEEK","deleted":false,"type":"QUESTION","templates":null,"notifyOnFailure":false,"questionId":null,"question":{"queries":[{"name":"query0","query":"Find DataStore with classification=('critical' or 'sensitive' or 'confidential' or 'restricted') and encrypted!=true","version":"v1","includeDeleted":false}]},"operations":[{"when":{"type":"FILTER","condition":"{{queries.query0.total != 0}}","specVersion":1},"actions":[{"targetValue":"HIGH","id":"1f6a7cee-804d-4807-93f8-47638c16a721","type":"SET_PROPERTY","targetProperty":"alertLevel"},{"type":"CREATE_ALERT","id":"ce9747c0-01f0-4ada-a3d0-7de5d56369ea"}]}],"outputs":["queries.query0.total","alertLevel"],"tags":["tf_acc:1","tf_acc:2"]}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"query":"\nmutation UpdateInlineQuestionRuleInstance ($instance: UpdateInlineQuestionRuleInstanceInput!)
      {\n\tupdateInlineQuestionRuleInstance(instance: $instance) {\n\t\tversion\n\t\tspecVersion\n\t\toperations
      {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t}\n}\n","variables":{"instance":{"question":{"queries":[{"query":"Find
      DataStore with classification=(''critical'' or ''sensitive'' or ''confidential''
      or ''restricted'') and encrypted!=true","name":"query0","version":"v1","includeDeleted":false}]},"id":"ceffd0cf-49c7-4832-9333-a32d51ccbbff","version":1,"state":{"actions":null},"templates":null,"tags":["tf_acc:1","tf_acc:2"],"name":"tf-provider-test-rule","description":"Test","specVersion":1,"operations":[{"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY"},{"type":"CREATE_ALERT"}]}],"outputs":["queries.query0.total","alertLevel"],"pollingInterval":"ONE_WEEK","notifyOnFailure":false}},"operationName":"UpdateInlineQuestionRuleInstance"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"updateInlineQuestionRuleInstance":{"version":2,"specVersion":1,"operations":[{"when":null,"actions":[{"targetProperty":"alertLevel","targetValue":"HIGH","type":"SET_PROPERTY","id":"604b7533-0893-404e-8fb3-c6848cd6bd2c"},{"type":"CREATE_ALERT","id":"7c29647e-7291-47eb-8ee8-751bdab7cedf"}]}]}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"query":"\nmutation DeleteRuleInstance ($id: ID!) {\n\tdeleteRuleInstance(id:
      $id) {\n\t\tid\n\t}\n}\n","variables":{"id":"ceffd0cf-49c7-4832-9333-a32d51ccbbff"},"operationName":"DeleteRuleInstance"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"data":{"deleteRuleInstance":{"id":"ceffd0cf-49c7-4832-9333-a32d51ccbbff"}}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"query":"\nquery GetQuestionRuleInstance ($id: ID!) {\n\tquestionRuleInstance(id:
      $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tversion\n\t\tspecVersion\n\t\tlatest\n\t\tpollingInterval\n\t\tdeleted\n\t\ttype\n\t\ttemplates\n\t\tnotifyOnFailure\n\t\tquestionId\n\t\tquestion
      {\n\t\t\tqueries {\n\t\t\t\tname\n\t\t\t\tquery\n\t\t\t\tversion\n\t\t\t\tincludeDeleted\n\t\t\t}\n\t\t}\n\t\toperations
      {\n\t\t\twhen\n\t\t\tactions\n\t\t}\n\t\toutputs\n\t\ttags\n\t}\n}\n","variables":{"id":"ceffd0cf-49c7-4832-9333-a32d51ccbbff"},"operationName":"GetQuestionRuleInstance"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.us.jupiterone.io/graphql
    method: POST
  response:
    body: |
      {"errors":[{"message":"Could not fetch rule instance. Rule instance does not exist.","extensions":{"code":"INTERNAL_SERVER_ERROR","serviceName":"rules","exception":{"stacktrace":["Error: Could not fetch rule instance. Rule instance does not exist.","    at getQuestionRuleInstance (/var/task/index.js:2134177:13)","    at runMicrotasks (<anonymous>)","    at processTicksAndRejections (internal/process/task_queues.js:95:5)"],"message":"Could not fetch rule instance. Rule instance does not exist.","locations":[{"line":1,"column":50}],"path":["questionRuleInstance"]}}}],"data":{"questionRuleInstance":null}}
    headers:
      Content-Type:
      - application/json
      Origin-Agent-Cluster:
      - ?1
      Ratelimit-Limit:
      - "1000"
      Ratelimit-Remaining:
      - "999"
      Ratelimit-Requested:
      - "1"
      Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
