---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateControl ($input: CreateControlInput!) {\n\tcreateControl(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc-test-control-for-test","description":"","state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":""}},"operationName":"CreateControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createControl":{"id":"ccm_c_J1_edaec1dc-dd86-4161-aad1-228d93528fa6","name":"tf-provider-acc-test-control-for-test","description":"","resourceGroupId":null,"state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":""}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.088054s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation CreateControlTest ($input: CreateControlTestInput!) {\n\tcreateControlTest(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tcontrolId\n\t\tqueries {\n\t\t\tname\n\t\t\tquery\n\t\t\tresultsAre\n\t\t}\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc-test-control-test","controlId":"ccm_c_J1_edaec1dc-dd86-4161-aad1-228d93528fa6","queries":[{"name":"Find all users","query":"FIND User","resultsAre":"GOOD","description":""}],"description":"acceptance test control test"}},"operationName":"CreateControlTest"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createControlTest":{"id":"20de4197-9772-4415-9290-6888a0d955eb","name":"tf-provider-acc-test-control-test","description":"acceptance test control test","controlId":"ccm_c_J1_edaec1dc-dd86-4161-aad1-228d93528fa6","queries":[{"name":"Find all users","query":"FIND User","resultsAre":"GOOD"}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 2.589097375s
    - id: 2
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlTestById ($id: ID!) {\n\tcontrolTest(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tcontrolId\n\t\tqueries {\n\t\t\tname\n\t\t\tquery\n\t\t\tresultsAre\n\t\t}\n\t}\n}\n","variables":{"id":"20de4197-9772-4415-9290-6888a0d955eb"},"operationName":"GetControlTestById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"controlTest":{"id":"20de4197-9772-4415-9290-6888a0d955eb","name":"tf-provider-acc-test-control-test","description":"acceptance test control test","controlId":"ccm_c_J1_edaec1dc-dd86-4161-aad1-228d93528fa6","queries":[{"name":"Find all users","query":"FIND User","resultsAre":"GOOD"}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 927.281417ms
    - id: 3
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlById ($id: ID!) {\n\tcontrol(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tresourceGroupId\n\t\tstate\n\t\tidentifier\n\t\tcatalog\n\t\towner\n\t\tremediation\n\t\texceptionProcess\n\t\tframeworkIds\n\t}\n}\n","variables":{"id":"ccm_c_J1_edaec1dc-dd86-4161-aad1-228d93528fa6"},"operationName":"GetControlById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"control":{"id":"ccm_c_J1_edaec1dc-dd86-4161-aad1-228d93528fa6","name":"tf-provider-acc-test-control-for-test","description":"","resourceGroupId":null,"state":"DRAFT","identifier":"","catalog":"","owner":"test-owner@jupiterone.com","remediation":"","exceptionProcess":"","frameworkIds":[]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.273106541s
[...]
    - id: 7
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation UpdateControlTest ($input: UpdateControlTestInput!) {\n\tupdateControlTest(input: $input) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tcontrolId\n\t\tqueries {\n\t\t\tname\n\t\t\tquery\n\t\t\tresultsAre\n\t\t}\n\t}\n}\n","variables":{"input":{"id":"20de4197-9772-4415-9290-6888a0d955eb","name":"tf-provider-acc-test updated control test","queries":[{"name":"Find all users","query":"FIND User","resultsAre":"GOOD","description":""}],"description":"acceptance test control test"}},"operationName":"UpdateControlTest"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateControlTest":{"id":"20de4197-9772-4415-9290-6888a0d955eb","name":"tf-provider-acc-test updated control test","description":"acceptance test control test","controlId":"ccm_c_J1_edaec1dc-dd86-4161-aad1-228d93528fa6","queries":[{"name":"Find all users","query":"FIND User","resultsAre":"GOOD"}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 4.237662667s
[...]
    - id: 11
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteControlTest ($id: ID!) {\n\tdeleteControlTest(id: $id) {\n\t\tsuccess\n\t}\n}\n","variables":{"id":"20de4197-9772-4415-9290-6888a0d955eb"},"operationName":"DeleteControlTest"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteControlTest":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 2.796904166s
    - id: 12
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation DeleteControl ($input: DeleteControlInput!) {\n\tdeleteControl(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"ccm_c_J1_edaec1dc-dd86-4161-aad1-228d93528fa6"}},"operationName":"DeleteControl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteControl":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.361850083s
    - id: 13
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetControlTestById ($id: ID!) {\n\tcontrolTest(id: $id) {\n\t\tid\n\t\tname\n\t\tdescription\n\t\tcontrolId\n\t\tqueries {\n\t\t\tname\n\t\t\tquery\n\t\t\tresultsAre\n\t\t}\n\t}\n}\n","variables":{"id":"20de4197-9772-4415-9290-6888a0d955eb"},"operationName":"GetControlTestById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Control test not found","path":["controlTest"],"extensions":{"code":"NOT_FOUND","serviceName":"apps-service","exception":{"message":"Control test not found"}}}],"data":null}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 779.95075ms
