---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateResourceGroup ($input: CreateIamResourceGroupInput!) {\n\tcreateResourceGroup(input: $input) {\n\t\t... ResourceGroup\n\t}\n}\nfragment ResourceGroup on IamResourceGroup {\n\tid\n\tname\n}\n","variables":{"input":{"name":"tf-provider-test-resource-group"}},"operationName":"CreateResourceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createResourceGroup":{"id":"05763f35-a693-4f30-9f9b-5a694b52446e","name":"tf-provider-test-resource-group"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "997"
            Ratelimit-Requested:
                - "3"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 589.778375ms
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetResourceGroup ($id: ID!) {\n\tresourceGroup(id: $id) {\n\t\t... ResourceGroup\n\t}\n}\nfragment ResourceGroup on IamResourceGroup {\n\tid\n\tname\n}\n","variables":{"id":"05763f35-a693-4f30-9f9b-5a694b52446e"},"operationName":"GetResourceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"resourceGroup":{"id":"05763f35-a693-4f30-9f9b-5a694b52446e","name":"tf-provider-test-resource-group"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "997"
            Ratelimit-Requested:
                - "3"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 263.515625ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteResourceGroup ($input: DeleteIamResourceGroupInput!) {\n\tdeleteResourceGroup(input: $input) {\n\t\tsuccess\n\t}\n}\n","variables":{"input":{"id":"05763f35-a693-4f30-9f9b-5a694b52446e"}},"operationName":"DeleteResourceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteResourceGroup":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 287.09075ms
