---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceFramework ($framework: CreateComplianceFrameworkInput!) {\n\tcreateComplianceFramework(input: $framework) {\n\t\tid\n\t}\n}\n","variables":{"framework":{"name":"tf-provider-acc-test-framework","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[]}},"operationName":"CreateComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceFramework":{"id":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.01395275s
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceGroup ($input: CreateComplianceGroupInput!) {\n\tcreateComplianceGroup(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc test FrameworkItem","description":"tf-provider acceptance test group","displayCategory":"first","frameworkId":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints"}},"operationName":"CreateComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceGroup":{"id":"742249c5-f37f-4363-b498-1a5258878cf5"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 809.792041ms
    - id: 2
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateComplianceFrameworkItem ($input: CreateComplianceFrameworkItemInput!) {\n\tcreateComplianceFrameworkItem(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"name":"tf-provider-acc test FrameworkItem","description":"","displayCategory":"","ref":"test-requirement-1","frameworkId":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0","groupId":"742249c5-f37f-4363-b498-1a5258878cf5","webLink":""}},"operationName":"CreateComplianceFrameworkItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createComplianceFrameworkItem":{"id":"e663c32d-d90c-4f76-b0b8-67355bc826fe"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 885.678542ms
    - id: 3
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceFrameworkById ($frameworkId: ID!) {\n\tcomplianceFramework(input: {id:$frameworkId}) {\n\t\tid\n\t\tname\n\t\tversion\n\t\tframeworkType\n\t\twebLink\n\t\tscopeFilters\n\t\tsummaryConfig {\n\t\t\tshowPoliciesAndProcedures\n\t\t\tshowEvidence\n\t\t\tshowGapAnalysis\n\t\t\tshowAuditTracking\n\t\t}\n\t}\n}\n","variables":{"frameworkId":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0"},"operationName":"GetComplianceFrameworkById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFramework":{"id":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0","name":"tf-provider-acc-test-framework","version":"v1","frameworkType":"STANDARD","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints","scopeFilters":[],"summaryConfig":{"showPoliciesAndProcedures":true,"showEvidence":true,"showGapAnalysis":true,"showAuditTracking":false}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 415.190583ms
    - id: 4
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceGroups ($frameworkId: ID!) {\n\tcomplianceFramework(input: {id:$frameworkId}) {\n\t\tgroups {\n\t\t\tid\n\t\t\tframeworkId\n\t\t\tname\n\t\t\tdescription\n\t\t\tdisplayCategory\n\t\t\twebLink\n\t\t}\n\t}\n}\n","variables":{"frameworkId":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0"},"operationName":"GetComplianceGroups"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFramework":{"groups":[{"id":"742249c5-f37f-4363-b498-1a5258878cf5","frameworkId":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0","name":"tf-provider-acc test FrameworkItem","description":"tf-provider acceptance test group","displayCategory":"first","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints"}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 828.799583ms
    - id: 5
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetComplianceFrameworkItemById ($id: ID!) {\n\tcomplianceFrameworkItem(input: {id:$id}) {\n\t\tname\n\t\tdescription\n\t\tframeworkId\n\t\tgroupId\n\t\tdisplayCategory\n\t\tref\n\t\twebLink\n\t}\n}\n","variables":{"id":"e663c32d-d90c-4f76-b0b8-67355bc826fe"},"operationName":"GetComplianceFrameworkItemById"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"complianceFrameworkItem":{"name":"tf-provider-acc test FrameworkItem","description":"","frameworkId":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0","groupId":"742249c5-f37f-4363-b498-1a5258878cf5","displayCategory":"","ref":"test-requirement-1","webLink":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 707.8385ms
[...]
    - id: 9
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation UpdateComplianceFrameworkItem ($input: UpdateComplianceFrameworkItemInput!) {\n\tupdateComplianceFrameworkItem(input: $input) {\n\t\tid\n\t}\n}\n","variables":{"input":{"id":"e663c32d-d90c-4f76-b0b8-67355bc826fe","updates":{"name":"tf-provider-acc test FrameworkItem","description":"tf-provider acceptance test framework item","displayCategory":"second","groupId":"742249c5-f37f-4363-b498-1a5258878cf5","ref":"test-requirement-1","webLink":"https://community.askj1.com/kb/articles/795-compliance-api-endpoints"}}},"operationName":"UpdateComplianceFrameworkItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"updateComplianceFrameworkItem":{"id":"e663c32d-d90c-4f76-b0b8-67355bc826fe"}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 623.945084ms
[...]
    - id: 27
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceFrameworkItem ($id: ID!) {\n\tdeleteComplianceFrameworkItem(input: {id:$id})\n}\n","variables":{"id":"e663c32d-d90c-4f76-b0b8-67355bc826fe"},"operationName":"DeleteComplianceFrameworkItem"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceFrameworkItem":"e663c32d-d90c-4f76-b0b8-67355bc826fe"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 380.3455ms
    - id: 28
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceGroup ($id: ID!) {\n\tdeleteComplianceGroup(input: {id:$id})\n}\n","variables":{"id":"742249c5-f37f-4363-b498-1a5258878cf5"},"operationName":"DeleteComplianceGroup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceGroup":"742249c5-f37f-4363-b498-1a5258878cf5"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 343.578042ms
    - id: 29
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteComplianceFramework ($input: DeleteComplianceFrameworkInput!) {\n\tdeleteComplianceFramework(input: $input)\n}\n","variables":{"input":{"id":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0"}},"operationName":"DeleteComplianceFramework"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteComplianceFramework":"2fa12121-6e6f-4348-9ed7-bde5e9b0eae0"}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "999"
            Ratelimit-Requested:
                - "1"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 815.4875ms
