---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nmutation SaveDropRulesConfig ($input: DropRulesConfigInputBeta!) {\n\tsaveDropRulesConfigBeta(input: $input) {\n\t\tcreated\n\t\tconfig {\n\t\t\t... DropRulesConfig\n\t\t}\n\t}\n}\nfragment DropRulesConfig on DropRulesConfigBeta {\n\tenabled\n\tversion\n\truleCount\n\trules {\n\t\tid\n\t\tenabled\n\t\t_type\n\t\t_class\n\t\tconditions {\n\t\t\tproperty\n\t\t\top\n\t\t\tvalue\n\t\t}\n\t}\n}\n","variables":{"input":{"enabled":true,"rules":[{"id":"aws-bedrock-noise","enabled":true,"_type":"aws_bedrock_foundation_model","conditions":[{"property":"isFineTuneable","op":"eq","value":false}]}]}},"operationName":"SaveDropRulesConfig"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"saveDropRulesConfigBeta":{"created":true,"config":{"enabled":true,"version":1,"ruleCount":1,"rules":[{"id":"aws-bedrock-noise","enabled":true,"_type":"aws_bedrock_foundation_model","_class":null,"conditions":[{"property":"isFineTuneable","op":"eq","value":false}]}]}}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.792232709s
    - id: 1
      request:
        host: graphql.dev.jupiterone.io
        body: '{"query":"\nquery GetDropRulesConfig {\n\tdropRulesConfigBeta {\n\t\t... DropRulesConfig\n\t}\n}\nfragment DropRulesConfig on DropRulesConfigBeta {\n\tenabled\n\tversion\n\truleCount\n\trules {\n\t\tid\n\t\tenabled\n\t\t_type\n\t\t_class\n\t\tconditions {\n\t\t\tproperty\n\t\t\top\n\t\t\tvalue\n\t\t}\n\t}\n}\n","operationName":"GetDropRulesConfig"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.dev.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"dropRulesConfigBeta":{"enabled":true,"version":1,"ruleCount":1,"rules":[{"id":"aws-bedrock-noise","enabled":true,"_type":"aws_bedrock_foundation_model","_class":null,"conditions":[{"property":"isFineTuneable","op":"eq","value":false}]}]}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 936.383667ms
[...]
