---
version: 2
interactions:
    - id: 0
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation CreateIntegrationInstance ($instance: CreateIntegrationInstanceInput!) {\n\tcreateIntegrationInstance(instance: $instance) {\n\t\tid\n\t\tname\n\t\tpollingInterval\n\t\tintegrationDefinitionId\n\t\tdescription\n\t\tconfig\n\t\tingestionSourcesOverrides {\n\t\t\tingestionSourceId\n\t\t\tenabled\n\t\t}\n\t\tsourceIntegrationInstanceId\n\t\tcollectorPoolId\n\t\tpollingIntervalCronExpression {\n\t\t\thour\n\t\t\tdayOfWeek\n\t\t}\n\t\toffsiteComplete\n\t}\n}\n","variables":{"instance":{"name":"tf-provider-acc-test-integration","pollingInterval":"ONE_DAY","pollingIntervalCronExpression":{"hour":0,"dayOfWeek":0},"integrationDefinitionId":"8013680b-311a-4c2e-b53b-c8735fd97a5c","description":"Test integration","config":{"key":"value"},"resourceGroupId":"rg-123456"}},"operationName":"CreateIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"createIntegrationInstance":{"id":"083a91e4-e3b3-4524-bfc3-5c9b165aa0e9","name":"tf-provider-acc-test-integration","pollingInterval":"ONE_DAY","integrationDefinitionId":"8013680b-311a-4c2e-b53b-c8735fd97a5c","description":"Test integration","config":{"key":"***masked***"},"ingestionSourcesOverrides":null,"sourceIntegrationInstanceId":null,"collectorPoolId":null,"pollingIntervalCronExpression":{"hour":0,"dayOfWeek":0},"offsiteComplete":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.136964458s
    - id: 1
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetIntegrationInstance ($id: String!) {\n\tintegrationInstance(id: $id) {\n\t\tid\n\t\tname\n\t\tpollingInterval\n\t\tintegrationDefinitionId\n\t\tdescription\n\t\tconfig\n\t\tingestionSourcesOverrides {\n\t\t\tingestionSourceId\n\t\t\tenabled\n\t\t}\n\t\tsourceIntegrationInstanceId\n\t\tcollectorPoolId\n\t\tresourceGroupId\n\t\tpollingIntervalCronExpression {\n\t\t\thour\n\t\t\tdayOfWeek\n\t\t}\n\t\toffsiteComplete\n\t}\n}\n","variables":{"id":"083a91e4-e3b3-4524-bfc3-5c9b165aa0e9"},"operationName":"GetIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"integrationInstance":{"id":"083a91e4-e3b3-4524-bfc3-5c9b165aa0e9","name":"tf-provider-acc-test-integration","pollingInterval":"ONE_DAY","integrationDefinitionId":"8013680b-311a-4c2e-b53b-c8735fd97a5c","description":"Test integration","config":{"key":"***masked***"},"ingestionSourcesOverrides":null,"sourceIntegrationInstanceId":null,"collectorPoolId":null,"resourceGroupId":"rg-123456","pollingIntervalCronExpression":{"hour":0,"dayOfWeek":0},"offsiteComplete":null}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 196.526292ms
[...]
    - id: 6
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nmutation DeleteIntegrationInstance ($id: String!) {\n\tdeleteIntegrationInstance(id: $id) {\n\t\tsuccess\n\t}\n}\n","variables":{"id":"083a91e4-e3b3-4524-bfc3-5c9b165aa0e9"},"operationName":"DeleteIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"data":{"deleteIntegrationInstance":{"success":true}}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.45605725s
    - id: 7
      request:
        host: graphql.us.jupiterone.io
        body: '{"query":"\nquery GetIntegrationInstance ($id: String!) {\n\tintegrationInstance(id: $id) {\n\t\tid\n\t\tname\n\t\tpollingInterval\n\t\tintegrationDefinitionId\n\t\tdescription\n\t\tconfig\n\t\tingestionSourcesOverrides {\n\t\t\tingestionSourceId\n\t\t\tenabled\n\t\t}\n\t\tsourceIntegrationInstanceId\n\t\tcollectorPoolId\n\t\tresourceGroupId\n\t\tpollingIntervalCronExpression {\n\t\t\thour\n\t\t\tdayOfWeek\n\t\t}\n\t\toffsiteComplete\n\t}\n}\n","variables":{"id":"083a91e4-e3b3-4524-bfc3-5c9b165aa0e9"},"operationName":"GetIntegrationInstance"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://graphql.us.jupiterone.io/
        method: POST
      response:
        body: |
            {"errors":[{"message":"Integration instance not found","path":["integrationInstance"],"extensions":{"code":"BAD_USER_INPUT","exception":{"stacktrace":["UserInputError: Integration instance not found","    at getIntegrationInstance (/var/task/index.js:5803:4885)","    at process.processTicksAndRejections (node:internal/process/task_queues:95:5)"],"message":"Integration instance not found","locations":[{"line":1,"column":60}],"path":["integrationInstance"]},"serviceName":"integrations"}}],"data":{"integrationInstance":null}}
        headers:
            Content-Type:
                - application/json
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 724.2275ms
