---
layout: ""
page_title: "Provider: JupiterOne"
description: |-
  The JupiterOne provider provides resources to interact with a JupiterOne API.
---

# JupiterOne Provider

The JupiterOne provider provides resources to interact with a JupiterOne API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}